.main{
    min-height: 500px;
}
.gallery{
    min-height: 500px;
}
.float_right, .sp-wrap, .gallery-wrap{
    float: right;
}
.sale{
    font-size: 18px;
}
.originPrice, .salePrice{
    max-width: 60px;
    border: none;
    border-radius: 2px;
}
.price_list li{
    margin: 0;
    padding-right: 0;
}
span.originPrice, .sale{
    padding: 0;
}
li.noPadding{
    padding: 0;
}
.content .dropbtn{
    border-radius: 0px;
    outline: none;
    padding: 3px;
    cursor: pointer;
}
button.size_choice{
    height: 32px;
    font-size: 16px;
    color: black;
    border: solid black .1em;
    background: white url("../../../img/down-arrow.svg") no-repeat 255px;
}
.leftInfo{
    font-weight: 500;
    padding-right: 20px;
    text-align: left;
}
.rightInfo, #inStock, .size_qty, #forTabs, #tab-1 li input, .size_block .dropdown-content, .sp-loading, .sp-wrap, .productId {
  text-align: center;
}
.itemActive{
    color: rgba(100, 191, 146, 0.87);
}
.itemInactive{
    color: #cc6e81;
}
#inStock, #color_name, .size_block .dropdown-content .qty, .sp-zoom, .sp-lightbox img, #sp-prev, #sp-next, #sp-prev:before,
#sp-next:before, .rightInfo .slider, .rightInfo .slider:before, a.prev, a.next{
    position: absolute;
}
#inStock {
    width: 28px;
    height: 28px;
    margin-top: 1px;
    margin-left: 290px;
    padding-top: 7px;
    color: white;
    background-image: url("../../../img/itemCard/instock.svg");
    font-size: 12px;
}
.size_qty{
    border-top: solid 1px rgba(80, 33, 46, 0.52);
    margin-left: 15px;
    padding: 3px 2px;
    height: 30px;
    width: 31px;
    border-radius: 35px;
    background: rgba(246, 187, 177, 0.25);
}
#color_hex{
    height: 25px;
    width: 80px;
    min-height: 25px;
    min-width: 80px;

    border: solid 1px black;
    background: #000034;
}
#color_name{
    margin-top: -38px;
    margin-left: 100px;
}
label, .productId, .leftInfo{
    color: #7f7f7f;
}
label{
    font-weight: 200;
    padding: 0px;
    margin-bottom: 1px;
}
ul.list-group-item-text, #tab-1 li input, #addToBag_button, #edit_button, .tabs p, p.info, .size_block .dropdown-content{
    font-size: 14px;
}
#addToBag_button{
    font-weight: 200;
    text-transform: uppercase;
    height: 38px;
}
#edit_button{
    text-transform: uppercase;
    height: 30px;
    border: none;
    color: black;
    background-image: -webkit-linear-gradient(top,#e7e7e7 0,#ddd 100%);
}
#edit_button:hover{
    background-image: -webkit-linear-gradient(top,#e7e7e7 0,#e7e7e7 100%);
 }
#status{
    width: 12px;
    height: 12px;
}
.ok{
    background-image: url("../../../img/itemCard/status_ok.svg");
}
.bad{
    background-image: url("../../../img/itemCard/status_bad.svg");
}
#totalQTY, #brand_logo img, #status{
    margin-left: auto;
    margin-right: auto;
}
#brand_logo img{
    width: 70px;
    max-width: 70px;
    margin-bottom: 20px;
}

/********TABSLET*********/
@media screen and (max-width: 767px){
    .forTabs A {
        font-size: 10px;
    }
}
@media screen and (min-width: 767px){
    .forTabs A {
        font-size: 14px;
    }
}

.tabs > DIV {
    -webkit-font-smoothing: antialiased;
    background: white !important;
}
.tabs{
    max-width: 279px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tabs p{
    text-align: justify;
}
#forTabs{
    margin-bottom: 10px;
    padding-left: 0;
}
.forTabs UL.horizontal {
    list-style: none outside none;
    margin: 0;
}
.forTabs LI {
    margin-right: -2px;
    margin-left: -2px;
   /* background: #f1f4fb;*/
    border-bottom: solid #e6e8ef 1px;

    border-top: solid transparent 2px;
    min-width: 93px;
    max-width: 93px;
    display: inline-block;
}
.forTabs li.active{
    border-left: solid #e6e8ef 1px;
    border-right: solid #e6e8ef 1px;
 }
.forTabs A {
    color: #a6a9b0;
    font-weight: 300;
    padding: 4px 0px;
    text-decoration: none;
}
.forTabs .active a{
    color: #272B30;
}
.forTabs LI:hover {
    border-top: solid #dee0e7 2px;
}
.forTabs LI:hover A, .forTabs LI:hover {
    color: black;
}
.forTabs .active, .forTabs LI.active:hover {
    border-bottom: none;
    border-top: solid #272B30 2px;
}
.tabs{
    height: auto;
}
.forTabs .active A {
    background: white;
    border-radius: 0px;
}
/****************/
#edit_button, #addToBag_button, button.size_choice, .size_block .dropdown-content,#brand_logo{
    width: 280px;
}
.content button{
    border-radius: 0;
}
#edit_button, #addToBag_button{
    margin-bottom: 10px;
}
ul.sizeSelect_ul{
    margin-bottom: 3px;
}
li#main_info{
    margin-left: 0;
}
.tabs label{
    font-size: 12px;
}
#tab-1 li input{
    background: rgba(245, 243, 238, 0.45);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px #dadedf;
    max-width: 58px;
}
li.second{
    margin-left: 45px;
    margin-right: 45px;
}
li.third{
    padding: 0;
}
#inStock, .sp-wrap, .sp-zoom, .sp-lightbox, li.prev_price, #measurements {
    display: none;
}
.size_block .dropdown-content{
    max-height: none;
}
.size_block .dropdown-content button{
    border: none;
    background: transparent;
}
.size_block .dropdown-content .qty{
    font-size: 9px;
    min-width: 17px;
    min-height: 17px;
    border-radius: 32px;
    color: #4bcf8f;
    padding-top: 4px;
    margin-left: 25px;
}
.size_block .dropdown-content .qty, #tab-2 p.info{
    font-weight: 600;
}
/*Smooth products*/
/* CSS for the loading div */

.sp-loading {
    max-width: 270px;
    padding: 15px;
    border: 5px solid #eee;
    border-radius: 3px;
    font-size: 12px;
    color: #888;
}

/* Element wrapper */

.sp-wrap {
    line-height: 0;
    font-size: 0;
    position: relative;
    max-width: 370px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Thumbnails */

.sp-thumbs {
    margin-top: 5px;
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 15%;
    left: -25%;
}
.sp-thumbs a{
    border: solid 1px white;
    margin-right: 5px;
    margin-left: 5px;
}
.sp-thumbs img {
    min-width: 60px;
    max-width: 66px;
}
.sp-thumbs a:link, .sp-thumbs a:visited {
    width: 56px;
    height: 66px;
    overflow: hidden;
    opacity: .3;
    margin: 8px;
    display: block;
    background-size: cover;
    background-position: center;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.sp-thumbs a:hover {
    opacity: 1;
}

/* Styles for the currently selected thumbnail */

.sp-thumbs a:active,  a.sp-current {
    opacity: 1!important;
    position: relative;
    border: solid 1px black;
}

/* Image currently being viewed */

.sp-large {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    min-height: 472px;
    min-width: 370px;
}
.sp-large a img {
    max-width: 100%;
    height: auto;

}
.sp-large a {
    position: relative;
}
.sp-current-big, #brand_logo img, #edit_button, #addToBag_button{
    display: block;
}
/* Panning Zoomed Image */

.sp-zoom {
    left: -50%;
    top: -50%;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}
/* Lightbox */

.sp-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .9);
    z-index: 500;
    cursor: pointer;
}
.sp-lightbox img {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 90%;
    max-height: 90%;
}
#sp-prev, #sp-next {
    top: 50%;
    margin-top: -25px;
    z-index: 501;
    color: #fff;
    padding: 14px;
    text-decoration: none;
    background: #000;
    border-radius: 25px;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    transition: .2s;
}
#sp-prev {
    left: 10px;
}
#sp-prev:before {
    content: '';
    border: 7px solid transparent;
    border-right: 15px solid #fff;
    top: 16px;
    left: 7px;
}
#sp-next {
    right: 10px;
}
#sp-next:before {
    content: '';
    border: 7px solid transparent;
    border-left: 15px solid white;
    top: 16px;
    left: 18px;
}
#sp-prev:hover, #sp-next:hover {
    background: #444;
}
.sp-big{
    display: none;
}
/* Tweak styles for small viewports */

@media screen and (max-width: 400px) {
    .sp-wrap {
        margin: 0 0 15px 0;
    }
    #sp-prev, #sp-next {
        top: auto;
        margin-top: 0;
        bottom: 25px;
    }
}
.productId ul{
    margin: 0 auto;
}

/*Slider*/
.rightInfo .switch-active{
    margin-top: 0px;
    position: relative;
    display: inline-block;
    width: 26px;
    height: 13px;
}

.rightInfo .slider {
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.rightInfo .slider:before {
    content: "";
    height: 7px;
    width: 7px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.rightInfo input:focus + .slider {
    box-shadow: 0 0 1px #4bcf8f;
}
.rightInfo input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}
a.next span,a.prev span{
    height: 71px;
    width: 26px;
}
a.next span{
    background: url("../../../img/itemCard/icons-sprite.png") no-repeat -26px 0;

}
a.prev span{
    background: url("../../../img/itemCard/icons-sprite.png") no-repeat;
}
a.prev, a.next, .sp-large a, .sp-thumbs {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
a.prev, a.next{
    opacity: .2;
    z-index: 10;
    display: inline;
    padding: 70px 10px;
}
a.next{
    left: auto;
    right: 0;
}
a.next:hover, a.prev:hover{
    opacity: .8;
    cursor: pointer;
}
.gallery-wrap {
    max-width: 375px;
    margin-right: -15px;
}
.productId li:nth-child(1){
    letter-spacing: .1em;
}
