/*****************/
.content {
    padding-left: 0;
    padding-right: 0;
}
.content .main {
    width: 70%;
    margin-right: 30px;
    float: right;
    overflow: hidden;
}
/********TABSLET*********/
@media screen and (max-width: 767px){
    .forTabs A {
        font-size: 14px;
    }
}
@media screen and (min-width: 767px){
    .forTabs A {
        font-size: 16px;
    }
    .list-items .item-name{
        min-width: 200px;
    }
    .list-items .prev_image{
        min-width: 146px;
    }
    .list-items .item_options{
        min-width: 104px;
    }
    .list-items .date{
        min-width: 82px;
    }
    .list-items .status_item{
        min-width: 58px;
    }
}
.tabs > DIV {
    margin-top: 8px;
    background: white !important;
}
.tabs{
    margin-top: 40px;
}
#forTabs{
    margin-right: -1px;
    text-align: center;
    margin-bottom: 25px;
    padding-left: 0;
}
.forTabs UL.horizontal {
    list-style: none outside none;
    margin: 0;
}
.forTabs LI {
    margin-right: -2px;
    margin-left: -3px;
    /*background: #f1f4fb;*/
    border-bottom: solid #e6e8ef .09em;
    /*border-left: solid #e6e8ef 1px;*/
    border-top: solid transparent 2px;
   /* min-width: 306px;*/
    display: inline-block;
}
.forTabs li.active{
    border-left: solid #e6e8ef .09em;
    border-right: solid #e6e8ef .09em;
}
.forTabs li#onSale{
    /*border-right: solid #e6e8ef 1px;*/
}
.forTabs A {
    color: #a6a9b0;
    display: block;
    font-weight: 300;
    padding: 4px 0px;
    text-decoration: none;
}
.forTabs .active a{
    color: #272B30;
}
.forTabs LI:hover A, .forTabs LI:hover {
    color: black;
}
.forTabs .active, .forTabs LI.active:hover {
    border-bottom: white solid 0.09em;
}
.tabs{
    height: auto;
}
.forTabs .active A {
    background: white;
    border-radius: 0px;
}
/****************/
@media screen and (max-width: 767px){
    .items li{
        width: 145px;
        height: auto;
        padding: 10px;
        margin: 10px;
    }
    .items .thumbnail{
        min-height: 159px;
    }
    .list-view li.item .item-name {
        font-size: 14px;
    }
    .list-view li.item .thumbnail{
        margin-right: 15px;
    }
    .date, .id, .check, .main-check, .hide-me{
        display: none;
    }
    .dropbtn{
        min-width: 70px;
        width: 70px;
    }
}
@media screen and (max-width: 574px){
    .currency{
        display: none;
    }
}
@media screen and (max-width: 1194px){
    #sidebar{
        display: none;
    }
}
@media screen and (min-width: 767px){

    .dropbtn{
        min-width: 70px;
        width: 70px;
    }
    .list-view li.item .thumbnail{
        margin-right: 50px;
    }
    .list-view li.item .item-name {
        font-size: 16px;
    }
    .items .thumbnail{
        width: 182px;
        min-height: 159px;
    }
    .items li{
        width: 180px;
        height: auto;
    }
}
@media screen and (min-width: 1270px){
    .items .thumbnail{
        min-height: 230px;
    }
    .items li:nth-child(5n), .items li:nth-child(1){
        margin-left:0;
    }
    .items li{
        width: 180px;
        height: auto;
        padding-left: 0px;
        padding-right: 0;
        margin-right: 0px;
        margin-left: 30px;
    }
}
.currency{
    font-size: 12px;
}
#sidebar {
    height: auto;
    width: 250px;
    padding: 10px 0 10px 45px;
}
#sidebar hr{
    background-color: #272B30;
}
#sidebar label{
    color: #666;
    margin-top: 5px;
    margin-left: 2px;
    font-weight: 200;
    font-size: 0.77em;
    font-family: Tahoma,Arial,sans-serif;
}
#sidebar h4, #sidebar h5{
    text-transform: uppercase;
}
#sidebar h5{
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    font-weight: 600;
}
.left-line{
    border-left: #000000 solid 5px;
    padding-left: 5px;
}
.left-line:hover{
    background-color: #eceff6;
    transition: ease-out 0.3s;
}
#sidebar ul{
    max-height: 110px;
    overflow: auto;
}
#filter-global input[type=checkbox]{
    vertical-align: middle;
}
#sidebar label{
    display: inline;
}
#content_bar{
    min-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow: auto;
    float: right;
}
.block-wrapper{
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#content_bar li img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
ul.items .inner{
    text-align: left;
}
.items li{
    height: 320px;
    min-height: 320px;
    display: inline;
}
.items{
   /* width: 95.5%;*/
   /* min-height: 82px;*/
    margin-left: auto;
    margin-right: auto;
}
.items li.item{
    float: left;
}
.list-items .item-name{
    max-width: 200px;
}
#content_bar ul{
    padding: 0;
    list-style: none;
}
.items .thumbnail{
    border: none;
    margin-bottom: 3px;
    padding: 0;
    border-radius: 2px;
}
.date .import-date, .sort-bar select, .btn-group, .filter-list li, .dropbtn, .right-side button, .dropdown-content a, td.id {
    font-size: 12px;
}
.origin-price, .date .last-modified{
    font-size: 13px;
}
.sale-price{
    font-size: 16px;
}
.sale-price .line-through{
    font-size: 14px;
    font-weight: 200;
}
.sale-price, .origin-price,.items .item-name, .list-items a{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.origin-price, .sale-price .line-through {
    color: #a5a5a5;
}
.items .origin-price, .items .sale-price, .date .import-date{
    display: block;
}
.items .item-name, .list-items a{
    font-size: .9em;
}
.items .item-name, .list-items a, .sale-price{
    font-weight: 600;
    color: #000000;
}
.items .item:hover, .list-items a{
    cursor: pointer;
}
.sort-bar ul li{
    font-size: 11px;
    padding-right: 3px;
}
.sort-bar ul li:nth-child(1){
        /*padding-left: 0;*/
}
.sort-bar ul li:nth-child(2){
    border-left: solid 1px #868487;
    cursor: pointer;
    text-decoration: underline;
    padding-left: 6px;
}
.sort-bar ul, .sort-bar select{
    display: inline;
}
.sort-bar label{
    font-weight: 200;
}
.sort-bar select, .sort-bar label{
    float: right;
}
.sort-bar select, button.thumbnail-view, button.list-view{
    margin-left: 5px;
}
.bottom-bar{
    margin-top: 20px;
    text-align: left;
    margin-bottom: 10px;
    overflow: auto;
    width: 100%;
    position: relative;
    display: block;
}
.btn-group{
    float: right;
}
.btn-group button:hover{
    background-color: #dee0e7;
}
.btn-group button{
    /*border-radius: 2px;*/
    border: solid 1px #e6e8ef;
    outline: none;
    background-color: #f1f4fb;
    padding-left: 4px;
    padding-right: 4px;
    height: 25px;
    min-width: 25px;
}
.btn-group a{
    cursor: pointer;
    color: #272B30;
    margin-left: 2px;
    margin-right: 2px;
}
button.active, button.active:hover{
    background-color: #37474f;
    color: white;
}
/********************/
.content {
    overflow: auto;
}
.main, .content{
    height: auto;
}
#wrapper{
    padding: 0;
}
.twoRows li{
    width: 111px;
}
.twoRows li input{
    margin-right: 5px;
}
.filter-block input[type=checkbox],.sort-bar ul li{
    margin: 0;
}
.checked{
    background-color: #eceff6;
    /*background-color: hsla(43,55%,93%,1);*/
}
input.check{
   /* width: 5px;*/
}
#sidebar ul span{
    /*padding: 3px;*/
    border-radius: 4px;
}
/*#sidebar input[type=checkbox]{
    margin-right: 5px;
}*/
.filter-list {
    margin-top: 10px;
}
.filter-list li:hover{
    cursor: default;
    background-color: #e6e9f0;
    /*background-color: hsla(43,55%,88%,1);*/
}
.filter-list li{
    padding: 6px;
    margin: 3px 3px 5px 3px;
    border-radius: 3px;
}
.filter-list li button{
    min-width: 9px;
    margin-left: 6px;
    width: 9px;
    height: 9px;
    border: none;
    outline: none;
    background: url("../../../img/delete-icon.svg") no-repeat;
    vertical-align: middle;
}
.filter-list li button:hover{
    display: inline;
    background: url("../../../img/delete-icon-hover.svg") no-repeat;
    transition: 0.2s;
}
.sort-by{
    margin-top: 2px;
    border: black 1px solid;
    outline: none;
   /* border-radius: 2px;*/
}
.view .items_found{
    text-align: right;
}
.view li{
    /*padding: 0;*/
  /*  width: 125px;
    min-width: 125px;*/
}
.view{
    display: inline;
   /* border: red solid 1px;*/
}
.items{
    padding-left: 0;
}
.secondTabFilter, .thirdTabFilter,.fourthTabFilter, .hidden, button.list-view, .dropdown-content, .left-side{
    display: none;
}
.notFoundImg{
    border-radius: 34px;
    padding-right: 10px;
    width: 95px;
}
td .notFoundImg{
    margin-bottom: 25px;
    margin-top: 25px
}
.notFound{
    margin-top: 15%;
    margin-bottom: 15%;
    float: none;
    color: rgb(170, 173, 180);
    font-size: 18px;
}
.switch{
    margin-right: 20px;
    float: left;
    display: inline;
    height: 17px;
    width: 17px;
}
button.list-view, button.thumbnail-view{
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
}
button.list-view{
    background: url("../../../img/list-button.svg") no-repeat;
}
button.thumbnail-view{
    background: url("../../../img/thumbnails-list.svg") no-repeat;
}
.list-items .thumb img.icon{
    height: 80px;
}
.list-items{
    width: 100%;
}
.list-items td{
    text-align: center;
    padding: 5px;
}
thead th{
    font-weight: 200;
    text-align: center;
    padding: 15px 5px;
    margin-bottom: 10px;
    color: #959595;
}
thead tr{
    border-top: solid #dee0e7 1px;
    background: rgba(241, 244, 251, 0.47);
    border-bottom: solid 1px #eee;
}
thead{

}

/* Dropdown Button */
.list-items .dropbtn{
    margin-top: 25px;
}
.content .dropbtn, .right-side button{
    outline: none;
    color: white;
    padding: 1px 6px;
    height: 29px;
    cursor: pointer;
}
.left-side button.price{
    background: #fff;
    color: black;
    border: solid .12em black;
}
.left-side button.price:hover, .left-side button.price:focus{
    border: solid #8b8b8b .12em;
    color: #8b8b8b;
}
.right-side button{
    border: solid 2px #4bcf8f;
    background: #4bcf8f url("../../../img/plus-icon.svg") no-repeat 3px;
    width: 115px;
}
.right-side button:hover{
    border: solid 2px #97ddc0;
    background: #97ddc0 url("../../../img/plus-icon-hover.svg") no-repeat 3px;
}
/* Dropdown button on hover & focus */
.left-side button.status:hover, .left-side button.status:focus {
    background: #5F6B72;
}
.isActiveItem{
    margin-left: auto;
    margin-right: auto;
    width: 12px;
    height: 12px;
    color: white;
    font-size: 9px;
    border-radius: 12px;
}
.action-panel{
    width: 100%;
}
.left-side{
    float: left;
}
.left-side button{
    display: inline;
    min-width: 110px;
    padding: 5px;
}
.right-side{
    float: right;
}
.right-side li{
    padding-right: 0;
}

.disc{
    /*border-radius: 2px;*/
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    background: #d39783;
    color: white;
}
td.id{
    padding-top: 0px;
}
#hex{
    margin-top: 0;
    margin-right: 6px;
    width: 30px;
    height: 12px;
    padding: 0 15px;
    border: solid 1px black;
}
li.color a{
    height: 15px;
    padding-left: 20px;
}
.color a .hex{
    width: 30px;
    margin: 0 auto;
}
#category input[type=checkbox]{
    margin-right: 5px;
}
.action-panel .dropdown-content{
    min-width: 110px;
}
.list-items .dropdown-content{
    min-width: 100px;
}
.left_info{
    position: absolute;
    left: 30%;
    width: 120px;
    text-align: right;
}
.prices .left_info{
    top: 51%;
}
.down li:nth-child(1), .up li:nth-child(1){
    padding-right: 15px;
    text-align: right;
}
.info_h2{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}
.info_h2 span{
    text-transform: uppercase;
}
#main .info{
    background: rgba(241, 244, 251, 0.47);
    text-align: left;
    border: solid 0.09em rgba(166, 169, 176, 0.32);
    padding: 10px 25px;
    min-height: 135px;
}
.info_h5{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1em;
    color: #959595;
    min-height: 30px;
    padding-top: 20px;
}
ul#ex-forTabs{
    padding-left: 0;
    margin-left: 67px;
    margin-bottom: 25px;
}
ul#ex-forTabs li:nth-child(1), ul#ex-forTabs li:nth-child(2){
    margin-left: -3px;
}
ul#ex-forTabs li{
    width: 139px;
    text-align: center;
}
ul#ex-forTabs li a{
    font-size: 12px;
}
ul#ex-pr-panel{
    margin-top: 10px;
    margin-bottom: 0;
}
.ex-tabs input{
    width: 415px;
}
.item .thumbnail > img{
    border-radius: 0;
    width: 180px;
    height: 230px;
    margin-left: 0;
    margin-right: 0;
}
ul.items{
   /* display: inline-block;*/
}
a:hover,a:active,a:link, input:active, input:hover, input:link{outline: 0px none;}