<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="settings" class="com.ffwatl.util.Settings">
              <constructor-arg index="0" type="java.lang.String" value="/storage/items/images/"/>
              <constructor-arg index="1" type="java.lang.String" value="c:\atl_folder\items\images\"/>
              <property name="brandImgDir" value="c:\atl_folder\brand\images\"/>
              <property name="brandImgUrl" value="/storage/brand/images/"/>
       </bean>

</beans>