<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

       <import resource="persistence-config.xml"/>
       <import resource="springMVC-config.xml"/>
       <import resource="spring-security.xml"/>
       <import resource="rule-test-config.xml"/>
       <import resource="offer/offer-test-config.xml"/>
       <import resource="order/order-test-config.xml"/>

       <context:component-scan base-package="com.ffwatl"/>

       <bean id="localDateTimeFormatter" class="java.time.format.DateTimeFormatter" factory-method="ofPattern">
              <constructor-arg value="HH:mm:ss"/>
       </bean>

       <bean id="mergedEntityContexts" class="org.springframework.beans.factory.config.ListFactoryBean">
              <property name="sourceList">
                     <list>
                            <value>classpath:spring/common-applicationContext-entity.xml</value>
                     </list>
              </property>
       </bean>

       <bean id="customDateFormatter" class="java.text.SimpleDateFormat">
              <constructor-arg value="MM/dd/yyyy"/>
       </bean>

       <bean id="custom_date_editor_registrar" class="com.ffwatl.common.config.CustomDateEditorRegistrar">
              <property name="dateFormat" ref="customDateFormatter"/>
       </bean>

       <bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
              <property name="propertyEditorRegistrars">
                     <list>
                            <ref bean="custom_date_editor_registrar"/>
                     </list>
              </property>
       </bean>

</beans>