<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Item name</title>
    <link href="../../../../resources/img/favicon.gif" th:href="@{/resources/img/favicon.gif}" rel="shortcut icon" type="image/gif">
    <link rel="stylesheet" href="../../../../resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/main.css" th:href="@{/resources/css/custom/main.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/overview/item.card.css" th:href="@{/resources/css/custom/overview/item.card.css}" type="text/css">
    <script rel="script" src="../../../../resources/js/jquery-1.12.3.min.js" th:src="@{/resources/js/jquery-1.12.3.min.js}" ></script>
    <script rel="script" src="../../../../resources/js/smoothproducts.js" th:src="@{/resources/js/smoothproducts.js}" ></script>
    <script rel="script" src="../../../../resources/js/custom/main.js" th:src="@{/resources/js/custom/main.js}"></script>
    <script rel="script" src="../../../../resources/js/jquery.tabslet.min.js" th:src="@{/resources/js/jquery.tabslet.min.js}"></script>
    <script rel="script" src="../../../../resources/js/custom/overview/item.card.js" th:src="@{/resources/js/custom/overview/item.card.js}" ></script>

</head>
<body>
<div class="content-wrapper">
    <!--Header-->
    <div th:replace="template :: header" class="header col-lg-12">
        <div class="menu-container">
            <div class="menu">
                <ul class="list-inline head-menu">
                    <li class="h-profile menu-top-level">
                        <div class="h-icon">
                            <img class="h-profile-icon" src="../../resources/img/header/profile-icon.svg">
                        </div>
                        <span class="h-profile-name h-info">Mikhail</span>
                        <ul class="menu-inner profile-menu">
                            <li><a>My account</a></li>
                            <li><a th:href="@{/logout}">Sign out</a></li>
                        </ul>
                    </li>
                    <li class="h-shopping-cart menu-top-level">
                        <div class="h-icon">
                            <img class="h-cart-icon" src="../../resources/img/header/shopping-cart.svg">
                            <div class="h-count h-count-cart">5</div>
                            <div class="h-info inline">
                                <span class="inline">Your bag </span>
                                <span class="inline h-cart-total">(₴ 0.0)</span>
                            </div>
                        </div>
                    </li>
                    <li class="h-lang menu-top-level">
                        <button class="h-lang-icon h-uk-lang"></button>
                        <span class="h-lang-text">ENG</span>
                        <ul class="menu-inner lang-menu">
                            <li th:with="url=('?lang=en')">
                                <a href="#" th:href="@{${url}}">
                                    <button class="h-lang-icon h-uk-lang"></button>
                                    <span class="h-lang-text" th:text="#{locale.en}">ENG</span>
                                </a>
                            </li>
                            <li th:with="url=('?lang=ru')">
                                <a href="#" th:href="@{${url}}">
                                    <button class="h-lang-icon h-ru-lang"></button>
                                    <span class="h-lang-text" th:text="#{locale.ru}">RUS</span>
                                </a>
                            </li>
                            <li th:with="url=('?lang=ua')">
                                <a href="#" th:href="@{${url}}">
                                    <button class="h-lang-icon h-ua-lang"></button>
                                    <span class="h-lang-text">UKR</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Navigation menu with logo-->
    <div class="sub-header" th:replace="template :: sub_header">
        <div class="menu-container">
            <div class="logo">FPoint</div>
            <div class="menu">
                <ul class="list-inline" style="height: 0">
                    <li class="menu-top-level">
                        Items
                        <ul class="menu-inner">
                            <li><a th:href="@{/admin/overview/all}" th:text="#{index.button.view_items}">All items</a></li>
                            <li>Active items</li>
                            <li>Inactive items</li>
                            <li>Sale items</li>
                            <li><a th:href="@{/admin/new/item}" th:text="#{index.button.new_item}">Add new item</a></li>
                        </ul>
                    </li>
                    <li class="menu-top-level">Categories
                        <ul class="menu-inner">
                            <li>Jeans</li>
                            <li>Chinos</li>
                            <li>T-Shirts</li>
                            <li>Shoes</li>
                            <li>Shorts</li>
                        </ul>
                    </li>
                    <li class="menu-top-level">Orders</li>
                    <li class="menu-top-level"><span th:text="#{index.button.users}">Users</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="custom_jumbo col-lg-12">
        <div>
            <menu class="cat-tree">
                <li class="home">
                    <a class="homeBefore"></a>
                    <a class="home-main home-st" th:href="@{/}"></a>
                </li>
                <li class="cat-tree-1"><a th:text="#{label.catalog}" th:href="@{/admin/overview/all}">Items</a></li>
            </menu>
        </div>
    </div>
    <div class="content col-lg-12">
        <div class="col-lg-6 gallery">
            <input id="itemId" hidden th:value="${itemId}">
            <div class="gallery-wrap">
                <a class="next" ><span style="display: block"></span></a>
                <a class="prev" ><span style="display: block"></span></a>
                <div class="sp-wrap">
                    <a th:remove="all" href="../../../../resources/img/asos/item_1/image1xl.jpg"><img src="../../../../resources/img/asos/item_1/image1s.jpg" alt=""></a>
                    <a th:remove="all" href="../../../../resources/img/asos/item_1/image2xl.jpg"><img src="../../../../resources/img/asos/item_1/image2s.jpg" alt=""></a>
                    <a th:remove="all" href="../../../../resources/img/asos/item_1/image3xl.jpg"><img src="../../../../resources/img/asos/item_1/image3s.jpg" alt=""></a>
                    <a th:remove="all" href="../../../../resources/img/asos/item_1/image4xl.jpg"><img src="../../../../resources/img/asos/item_1/image4s.jpg" alt=""></a>
                </div>
                <div class="productId">
                    <ul class="list-inline">
                        <li th:text="(#{label.itemCode}+':')">Product code:</li>
                        <li class="info">j3456</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 main">
            <div class="col-lg-10 float_right">
                <h3 class="item_title" th:text="''">ASOS Mens Skinny Jeans navy</h3>
                <ul class="list-inline price_list">
                    <li><span class="sale">₴</span></li>
                    <li class="noPadding">
                        <span class="salePrice sale" th:text="''">519</span>
                    </li>
                    <li class="prev_price"><span class="line-through">₴</span></li>
                    <li class="noPadding prev_price">
                        <span class="line-through prev_price">539</span>
                    </li>
                </ul>
                <br>
                <div id="brand_logo"><!--<img src="../../../../resources/img/asos/asos_logo.jpg">-->
                    <img src="">
                </div>
                <table id="info_table">
                    <tr>
                        <td class="leftInfo" th:text="(#{label.totalQty}+':')">Total quantity:</td>
                        <td class="rightInfo"><div id="totalQTY">8</div></td>
                    </tr>
                    <tr>
                        <td class="leftInfo" th:text="(#{overview.items.originPrice}+':')">Original price:</td>
                        <td class="rightInfo">
                            <span id="originPrice" class="originPrice">319</span>
                            <span class="currency"> UAH</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="leftInfo" th:text="(#{label.status}+':')">Status:</td>
                        <td class="rightInfo">
                            <label class="switch-active"><input type="checkbox"><div class="slider"></div></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="leftInfo" th:text="(#{label.discount}+':')">Discount:</td>
                        <td class="rightInfo" id="discount"><span th:remove="all">10%</span></td>
                    </tr>
                    <tr>
                        <td class="leftInfo" th:text="(#{label.addedBy}+':')">Added by:</td>
                        <td class="rightInfo" id="addedBy"><a href="" style="color: black"><span th:remove="all">ffwATL</span></a></td>
                    </tr>
                </table>
                <div class="size_block">
                    <ul class="list-inline sizeSelect_ul">
                        <li>
                            <div id="inStock">3</div>
                            <div class="dropdown">
                                <button class="dropbtn button-bordered inline size_choice button-bordered" th:text="#{new.item.choose}">W32 L32</button>
                                <div class="dropdown-content">
                                    <a th:remove="all"><button value="W32 L32">W32 L32<span class="qty">In stock: 3</span></button></a>
                                    <a th:remove="all"><button value="W32 L32">W32 L32<span class="qty">In stock: 3</span></button></a>
                                    <a th:remove="all"><button value="W32 L32">W32 L32<span class="qty">In stock: 3</span></button></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="inline">
                        <ul class="list-inline">
                            <li>
                                <div id="color_hex"></div>
                            </li>
                        </ul>
                    </div>
                    <div id="color_name" class="inline"></div>
                </div>
                <br>
                <script>
                    function editItem(){
                        /*<![CDATA[*/
                        window.location = (/*[[@{context:}]]*/'../../admin/new/item?edit=true&id='+
                                $('.productId .info').text());
                        /*]]>*/
                    }
                </script>
                <div class="buttons">
                    <button class="button-typical" id="addToBag_button" th:text="#{label.addToBag}">Add to bag</button>
                    <button class="button-bordered" id="edit_button" th:text="#{label.edit}" onclick="editItem()">Edit</button>
                </div>
                <div class="tabs">
                    <ul id="forTabs" class="forTabs">
                        <li id="main_info" class="active" ><a href="#tab-1" th:text="#{label.mainInfo}">Main info</a></li>
                        <li id="description" ><a href="#tab-2" th:text="#{new.item.brand}">Brand</a></li>
                        <li id="extra_info" ><a href="#tab-3" th:text="#{label.extraInfo}">Extra Info</a></li>
                    </ul>
                    <div id="tab-1">
                        <p class="inline" th:text="#{itemCard.mainInfoAboutProduct}">Here is the main information about product:</p>
                        <div id="measurements">
                            <div id="gen_measurements"></div>
                            <div id="clothes_top"></div>
                            <ul class="list-inline">
                                <li><span class="red">*</span></li>
                                <li th:text="#{itemCard.measurementsMade}">All measurements are in cm.</li>
                            </ul>
                        </div>
                       <!-- <div id="clothes_bottom">
                            <ul class="list-inline">
                                <li class="first"><label>Waist:</label>
                                    <input type="text" readonly value="82-84">
                                </li>
                                <li class="second"><label>Length:</label>
                                    <input type="text" readonly value="103-104">
                                </li>
                                <li class="third"><label>Bottom:</label>
                                    <input type="text" readonly value="16-16.5">
                                </li>
                            </ul>
                        </div>-->
                        <!--<ul class="list-inline" >
                            <li><label>Sleeve:</label>
                                <input type="text" readonly value="67-68">
                            </li>
                        </ul>-->
                        <p class="info"><span style="font-weight: 600" th:text="#{label.features}">Features</span></p>
                        <ul class="list-group-item-text" id="itemDescription">
                            <li th:remove="all">Skinny fit</li>
                            <li th:remove="all">Stretch cotton</li>
                            <li th:remove="all">Zip fly</li>
                            <li th:remove="all">98% cotton, 2% elastan</li>
                        </ul>
                    </div>
                    <div id="tab-2">
                        <ul class="list-inline">
                            <li><span th:text="#{itemCard.aboutBrand}"></span></li>
                            <li> <p class="info"> Cheap Monday</p></li>
                        </ul>
                        <p class="aboutBrand">Known for their skinny jeans and their characteristic skull logo, Stockholm based label Cheap Monday channel their slick Scandinavian style to a range of clothing, with everything from check shirts to selvedge denim.</p>
                    </div>
                    <div id="tab-3">
                        <p th:text="''">One of size W34 L32 have W32 L32 measurements. This size marked * on the top of package.
                            And added to the system as W32 L32 size.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="template :: footer" class="col-lg-12 panel-footer">Footer</footer>
</body>
</html>