<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

       <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
              <property name="driverClass" value="com.mysql.jdbc.Driver"/>
              <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/atl3"/>
              <property name="user" value="rk"/>
              <property name="password" value="1234"/>
              <property name="minPoolSize" value="10"/>
              <property name="maxPoolSize" value="50"/>
              <property name="maxStatements" value="100"/>
       </bean>

       <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

       <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
              <property name="packagesToScan" value="com.ffwatl" />
              <property name="jpaProperties">
                     <props>
                            <prop key="hibernate.hbm2ddl.auto">update</prop>
                            <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                            <prop key="hibernate.show_sql">true</prop>
                            <prop key="hibernate.jdbc.batch_versioned_data">true</prop>
                            <prop key="hibernate.batch_fetch_style">padded</prop>
                     </props>
              </property>
              <property name="dataSource" ref="dataSource"/>
              <property name="jpaDialect">
                     <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>
              </property>
              <property name="jpaVendorAdapter">
                     <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
              </property>
       </bean>

       <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
              <property name="entityManagerFactory" ref="entityManagerFactory"/>
       </bean>

       <tx:annotation-driven transaction-manager="transactionManager"/>

       <jpa:repositories base-package="com.ffwatl.admin"
                         entity-manager-factory-ref="entityManagerFactory"
                         transaction-manager-ref="transactionManager"/>
       <aop:aspectj-autoproxy />
</beans>