.hex{
    float: right;
}
.center-block{
    background: white;
    height: 100%;
    margin-top: 0;
}
#item_group_2, #item_group_1{
    min-height: 170px;
}

@media screen and (max-width: 767px){
    #image_upload .upload_button, #filer_input{
        width: 100%;
    }
    .input-name{
        width: 400px;
    }
    .input-form{
        width: 470px;
    }
    #eu_li, #group_1_bottom_li,#group_2_chest_li{
        float: right;
    }
    #eu_li, #group_1_bottom_li, #group_2_chest_li, #sale_li, #size_preview{
        padding-right: 0;
    }
    #input-group{
        min-width: 400px;
    }
    #group_1_length_li, #group_2_length_li{
        padding-left: 32px;
    }
    #size_preview .icon-wrapper{
        border-right: solid 5px transparent;
        margin: 15px 10px 15px 15px;
    }
    .price_list input{
        margin: 0;
        width: 155px;
    }
    #section_4 ul,  #section_4{
        padding: 0;
    }
    #sale_li{
        margin-left: 46px;
    }
    #item_group_2 select, #shorts{
        width: 245px;
    }
    #add_size_panel_btn_li{
        margin-left: 73px;
    }
    #add_size_input{
        width: 150px;
    }
    .section_end{
        margin-bottom: 0;
    }
    .section_end button#save {
        margin-top: 10px;
        margin-left: 295px;
    }
    #currency{
        margin-left: 0 ;
    }
    #currency select{
        width: 155px;
    }
}
button:disabled,button:disabled:hover{
    cursor: not-allowed;
}
@media screen and (max-width: 1200px){
    #measurement_example{
        display: none;
    }
}
@media screen and (min-width: 767px){
    #image_upload .upload_button, #filer_input, #image_upload input{
        width: 155px;
    }
    .price_list input{
        width: 87px;
    }
    .input-name{
        width: 700px;
    }
    .input-form{
        width: 770px;
    }
    #item_group_2 select, #shorts{
         width: 217px;
     }
    #add_size_panel_btn_li{
        margin-left: 22px;
    }
    #add_size_input{
        width: 130px;
    }
    .section_end{
        margin-bottom: 15px;
    }
    .section_end button#save {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 595px;
    }
    #currency{
        margin-left: 150px;
    }
    #size_preview .icon-wrapper{
        border-right: solid 5px transparent;
        margin: 15px 13px 15px 15px;
    }
}
input:focus{
    transition: 0.3s;
    border-bottom: solid .12em  #ccd0d1;
    background: rgba(241, 244, 251, 0.47);;
}
input.height{
    border-left:  none;
    border-right: none;
    border-top: none;
    border-radius: 0;
}
input{
    border-bottom: solid .13em #dadedf;
}
.height{
    padding: 6px;
}
#section_1{
    margin-top: 10px;
}
#add_size button, .height, #image_upload .upload_button, #brand .dropbtn, #color .dropbtn, #eu_waist_select .dropbtn, #item_group_2 .dropbtn,
.plus{
    height: 29px;
}
select.height:disabled, select.height:disabled:hover{
    border: solid #aaaaaa .1em;
    color: #8b8b8b;
}
#input-group{
    width: 300px;
}
.input-name{
    border-bottom: solid .1em #dadedf;
    font-size: 16px;
    padding: 6px 12px;
    line-height: 1.42857143;
    height: 29px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline;
}
label{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 600;
    padding: 2px 15px;
    color: #000000;
    margin-bottom: 0;
}
#section_0 ul{
    margin-bottom: 5px;
}
.bottom_line{
    margin-bottom: 20px;
}
label.name,#measurement_example, menu li:before, menu li:after,#color_sample, .info-pic, button.remove_row, button.extra_note{
    position: absolute;
}
label.name{
    margin-left: -15px;
    margin-top: 2px;
    text-align: center;
    vertical-align: middle;
    background: url("../../../img/new/chat.svg")no-repeat;
    min-width: 32px;
    min-height: 32px;
    padding: 5px 0 0;
    margin-bottom: 0;
}
option, #size_preview .del, #size_preview .size_quantity, button.extra_note, button.remove_row{
    border: none;
}
#input-group,#group_two span,.input-name,#group_two a,#section_2 select, #section_2 input, #section_3 select,
#section_3 input{
    font-weight: 200;
}
#group_two span, label.name, p.warn{
    font-size: 13px;
}
#section_2 select{
    margin: 0;
    width: 155px;
}
#brand, #color{
    padding-left: 20px;
}
#item_group_2 .eu_select, #group_two a, #group_two span{
    padding-left: 15px;
}
.block, #input-group,.input-name, label{
    display: block;
}
select:disabled, input:disabled{
    color: #cdcdcd;
    background-color: #f2f2f2;
}
#group_two a:hover,#add_size button:hover,.icon-wrapper:hover{
    cursor: pointer;
}
#advice,.size_icon{
    text-align: center;
}
.section_end{
    padding-top: 20px;
}
.section_end button#save:disabled, .section_end button#save:disabled:hover,.section_end button#save:hover{
    background: #5F6B72 url("../../../img/new/right-arrow-icon.svg") no-repeat  93% 8px;
}
.section_end button#save{
    background: #37474f url("../../../img/new/right-arrow-icon.svg") no-repeat  93% 8px;
    outline: none;
    font-size: 14px;
    width: 130px;
    padding-left: 10px;
    padding-right: 10px;
}
#section_2 li{
    padding-right: 0;
}
.input-form{
    margin-top: 10px;
    padding: 20px;
}
#section_3,#item_group_1,#add_size, #item_group_2, .section_end{
    padding: 0;
}
#item_group_1,  #group_two ,#item_group_2, #item_group_3, #section_4, #section_3,#section_2{
    display: none;
}
#add_size_panel_qty_li{
    padding-right: 0;
}
.hr{
    margin-bottom: 15px;
    margin-top: 10px;
}
.remove_left_padding, #eu_li{
    padding-left: 0;
}
.measurements, #qty{
    width: 87px;
}
#measurement_example{
    width: 300px;
    margin-left: 410px;
    margin-top: -200px;
    border-left: solid 1px #eee;
}
#example_group_1, #example_group_11{
    width: 120%;
    float: left;
    margin: 0;
}
#example_group_3{
    width: 110%;
    margin-left: 10px;
}
#example_group_2{
    width: 90%;
    margin-left: 10px;
}
#example_group_1, #example_group_11, #example_group_2,#example_group_3{
    display: none;
    height: auto;
    padding: 0;
}
#size_preview{
    min-height: 130px;
    padding: 20px 0 30px;
    margin-top: 15px;
    border-radius: 3px;
}
#size_preview .del{
    width: 9px;
    height: 9px;
}
#add_size button{
    outline: none;
    margin-left: 65px;
    vertical-align: middle;
    background: white url("../../../img/new/plus-icon.svg") no-repeat 2px;
}
#add_size button:disabled, #add_size button:disabled:hover, #add_size button:hover{
    background: white url("../../../img/new/plus-icon-hover.svg") no-repeat 2px;
}
#add_size button:disabled, #add_size button:disabled:hover{
    cursor: not-allowed;
}
.del{
    background: url("../../../img/new/delete-icon.svg") no-repeat;
}
.del:hover{
    background: url("../../../img/new/delete-icon-hover.svg") no-repeat;
}
#advice{
    padding: 0;
    margin: 0;
}
#size_preview .del{
    margin: 0 0 0 3px;
    display: none;
}
.size_icon{
    width: 85px;
    height: 65px;
    padding: 23px 10px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px 3px 0 3px;
    box-shadow: 0 0 18px #7a7a7a;
    background-color: rgba(232, 220, 224, 0.23);
}
.td_del{
    height: 13px;
    min-height: 13px;
}
.icon-wrapper{
    margin-right: 34px;
    display: inline;
}
#size_preview .inline{
    display: inline;
}
.wrapMe{
    display: none;
}
#size_preview .size_quantity{
    width: 28px;
    height: 28px;
    padding: 0;
    outline: none;
    border-radius: 0 3px 3px 0;
    margin-top: 24px;
    font-weight: bold;
    color: white;
    box-shadow: 3px 1px 12px #7a7a7a;
    background: rgba(35, 50, 70, 0.7);
}
hr.null{
    margin-top: 10px;
    margin-bottom: 10px;
}
.section_end{
    height: 50px;
}
#section_4, .null, #clothes_items {
    padding: 0;
    margin: 0;
}
#section_4 input{
    font-weight: 200;
}
#image_upload .upload_button{
    padding: 4px 10px 4px 25px;
    background: white url("../../../img/new/photo-camera.svg") no-repeat 6px 3px;
    margin-bottom: 5px;
}
#image_upload .upload_button:hover{
    background: white url("../../../img/new/photo-camera-hover.svg") no-repeat 6px 3px;
    cursor: pointer;
}
#image_upload a{
    text-decoration: none;
}
#image_upload p{
    margin-left: 14px;
}
#image_upload{
    background: url("../../../img/photo-camera.svg") no-repeat 50% 60%;
    min-height: 190px;
    padding: 0;
}
.jFiler-item-inner{
    box-shadow: 0 0 18px #7a7a7a;
}
.jFiler-item-inner a{
    color: #dedede;
}
.jFiler-item-inner a:hover{
    color: white;
}
.jFiler-item-inner .jFiler-item-assets{
    z-index: 1;
    background: #a6a9b0;
}
.inline{
    display: inline;
    padding-right: 0;
    margin-right: 0;
}
#group_two label, #group_one label,#section_2_ul label,#clothes_items label,#section_4 label, /*label.name*/{
    padding-bottom: 2px;
    margin-bottom: 0;
}
#group_two a, #group_two span{
    margin-top: 0;
}
#section_2_ul label,#clothes_items label, #section_4 label{
    padding-left: 0;
    padding-right: 0;
}
#section_2_ul, #clothes_items ul, ul.price_list{
    margin-left: 10px;
}
#clothes_items li, ul.price_list li{
    padding-right: 35px;
}
#group_one select, #item_group_2 select, button#changeGroup, ul.item_description textarea, .input-name{
    margin-left: 15px;
}
#brand .dropbtn, #color .dropbtn, #eu_waist_select .dropbtn, #item_group_2 .dropbtn{
    font-size: 14px;
    background: white url("../../../img/down-arrow.svg") no-repeat 133px;
    width: 155px;
}
#brand .dropbtn, #color .dropbtn, #eu_waist_select .dropbtn, #item_group_2 .dropbtn, #image_upload .upload_button, #add_size button,
select.height{
    color: black;
    border: solid black .12em;
}
#brand .dropdown-content, #color .dropdown-content, #eu_waist_select .dropdown-content, #item_group_2 .dropdown-content{
    text-align: center;
    width: 155px;
}
#brand .dropbtn:hover, #color .dropbtn:hover, #eu_waist_select .dropbtn:hover, #item_group_2 .dropbtn:hover, #image_upload .upload_button:hover,
#add_size button:disabled, #add_size button:disabled:hover, #add_size button:hover, select.height:hover{
    border: solid #8b8b8b .12em;
    color: #8b8b8b;
}
menu, ul.item_description textarea, .input-block textarea{
    overflow: hidden;
}
menu{
    background:  linear-gradient(#fff, #ccc);
    box-sizing: border-box; padding: 0; margin: 0;
    box-shadow: inset 0px 0px 2px #333, 0 0 1px #333;
}
menu li{
    color: transparent;
    height: 50px;
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 13px 30px 10px 20px;
    font-size: 18px;
    margin: 0;
    background: #efefef;
}
menu li:before, menu li:after{
    content: '';
}
menu li:before{
    top: 7px;
    width: 37px;
    height: 37px;
    transform: rotate(45deg);
    right: -17px;
    box-shadow: 2px -2px 1px 0px #BABABA;
    background: #efefef;
}
.popup-header menu{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.popup-header menu li:nth-child(1){z-index: 4000}
.popup-header menu li:nth-child(2){z-index: 3000}
.popup-header menu li:nth-child(3){z-index: 2000}
.popup-header menu li:nth-child(4){z-index: 1000}

.popup-header menu li:not(:nth-child(1)){margin-left: -4px; padding-left: 40px}

li.stage_comp, li.stage_comp:before{
    background: #272B30;
    color: #d8d8d8;
}
#root{
    color: rgba(147, 146, 146, 0.75);
}
.lvl li{
    color: rgba(79, 76, 83, 0.75);
}
a.change, #advice, select.height, ul.feature_preview input{
    font-size: 12px;
}
#brand label, #color label{
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.plus{
    outline: none;
    margin-left: 2px;
    width: 29px;
    color: transparent;
    background-image: url("../../../img/new/square-plus.svg");
    background-position: 6px;
    background-repeat: no-repeat;

}
.plus:hover{
    background-image: url("../../../img/new/square-plus.svg");
    background-position: 6px;
    background-repeat: no-repeat;
}
#hex{
    margin-right: 5px;
}
li.logo{
    min-width: 200px;
}
#brand-logo{
    text-align: center;
    margin-left: 287px;
    min-width: 200px;
}
#brnd, #brand-logo{
    min-height: 60px;
}
#color_sample{
    margin-top: -48px;
    border: solid 1px black;
    width: 45px;
    height: 45px;
    background: white;
    margin-left: 580px;
}
#brand-logo img{
    max-width: 200px;
    max-height: 60px;
}
.brand-list{
    min-height: 90px;
}
#color .dropbtn{
    padding-left: 10px;
    font-size: 14px;
}
#section_description{
    margin: 0;
    padding: 0;
}
.list-select{
    margin-bottom: 25px;
}
.not_completed{
    background: rgba(241, 244, 251, 0.47);
    border: solid 1px rgba(166, 169, 176, 0.21);
}
.not_completed h5{
    color: #a6a9b0;
}
.completed{
    background: rgba(221, 251, 212, 0.26);
    border: solid 1px rgba(119, 176, 118, 0.21);
}
.completed h5{
    color: #9ab094;
}
.info{
    height: 110px;
    margin-bottom: 25px;
    padding: 10px 0;
}
.info h5{
    max-width: 510px;
    text-align: justify;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 5px 0;
}
.info h3{
    margin-top: 10px;
}
ul.item_description{
    margin-left: 0;
    margin-top: 45px
}
ul.item_description label.name{
   margin-top: -30px;
}
ul.item_description textarea, .input-block textarea, textarea.b-dsc{
    resize: none;
    padding: 10px;
}
ul.item_description textarea, .input-block textarea,{
    border: dotted 2px rgba(166, 169, 176, 0.33);
}
ul.item_description textarea{
    width: 213px;
}
.input-block textarea{
    width: 460px;
    height: 100px;
    margin-bottom: 10px;
}
.input-block{
    text-align: center;
}
button.feature{
    margin-left: 20px;
}
.info-pic{
    margin-left: 630px;
    margin-top: -70px;
}
ul.feature_preview{
    margin-bottom: 30px;
     margin-left: 35px;
}
ul.feature_preview li.marg{
    margin-left: 60px;
}
ul.feature_preview input{
    width: 173px;
}
button.remove_row{
    height: 22px;
    width: 22px;
    background: url("../../../img/new/backspace.svg") no-repeat;
}
button.remove_row:hover{
    background: url("../../../img/new/backspace-arrow.svg") no-repeat;
}
button.extra_note{
    width: 29px;
    height: 29px;
    margin-left: 80px;
}
.extra_note_not_filled{
    background: url("../../../img/new/xtra_notes.svg") no-repeat;
}
.extra_note_not_filled:hover{
    background: url("../../../img/new/xtra_notes_hover.svg") no-repeat;
}
.extra_note_filled{
    background: url("../../../img/new/xtra_notes_filled.svg") no-repeat;
}
.extra_note_filled:hover{
    background: url("../../../img/new/xtra_notes_filled_hover.svg") no-repeat;
}
button.remove_row:hover, button.extra_note:hover,.extra_note_filled:hover{
    transition: 0.2s;
}
.add_size_panel{
    margin-top: 30px;
    margin-bottom: 55px;
}
.broken, .broken:focus{
    border-bottom: solid .13em #F25D75;
    background: #FCE8EC;
}
#extraNotes_popup, #color_popup{
    min-height: 250px;
    max-height: 300px;
    min-width: 500px;
    max-width: 500px;
}
#extraNotes_popup h3, #color_popup h3, #brand_popup h3{
    margin-top: 25px;
    border-bottom: 0.08em solid #000;
    line-height:0.1em;
    text-align: left;
}
.popup-info h5{
    color: #a6a9b0;
}
ul#color-forTabs, ul#brand-forTabs{
    padding-left: 0px;
    margin-bottom: 0px;
}
#color-forTabs li{
    min-width: 6.73em
}
#color-forTabs li, #brand-forTabs li{
    text-align: center;
}
#brand-forTabs li{
    min-width: 110px;
}
#color-forTabs li a, #brand-forTabs li a{
    font-size: 12px;
}
#color_popup label{
    padding: 0;
}
.color-tabs, .brand-tabs{
    margin-right: -2px;
    margin-bottom: 15px;
}
#color-sample{
    margin-top: 15px;
    width: 100px;
    height: 100px;
    border: solid black .09em;
    outline: none;
}
.color-right, .brand-right{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 90px;
    margin-right: 23px;
}
#color_popup .buttons{
    margin-top: -20px;
    margin-right: -5px;
}
#color-value{
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
    /*text-align: center;
    max-width: 100px;*/
    margin-right: 20px;
}
#color_popup .popup-info h5, #brand_popup .popup-info h5{
    margin-top: 0;
}
input.c-name{
    min-width: 250px;
    max-width: 250px;
}
#brand_popup{
    max-width: 550px;
}
#brand_popup .upload_button{
    padding-top: 3px;
    width: 128px;
    height: 24px;
    border: solid .12em black;
    font-size: 12px;
    cursor: pointer;

}
#brand_upload{
    text-align: center;
    min-height: 135px;
    width: 128px;
}
#b-file-holder{
    border: dotted .09em black;
    min-height: 104px;
    margin-bottom: 3px;
    width: 128px;
}
#b-file-holder .ljFiler-items-list{
    text-align: center;
}
textarea.b-dsc{
    border: dotted .15em rgba(166, 169, 176, 0.33);
    min-height: 108px;
    width: 310px;
    margin-bottom: 5px;
}
.brand-tabs > DIV, .color-tabs > DIV{
    border: solid .09em black;
    border-top: none;
    margin-top: -1px;
    margin-left: -2px;
    padding-top: 20px;
    max-width: 329px;

}
li.last-li{
    margin-right: 0;
}
#brand_popup .buttons{
    margin-right: -5px;
    margin-top: 30px;
}
.b-tab-inner{
    text-align: center;
}
input#b-name{
    letter-spacing: .1em;
    font-size: 16px;
    width: 325px;
}
.brand-left{
    margin-top: 58px;
}
.color-tabs > DIV{
    padding-left: 5px;
    padding-bottom: 25px;
    padding-right: 5px;
    text-align: center;
}
