<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <link href="../../resources/img/favicon.gif"
          th:href="@{/resources/img/favicon.gif}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css"
          th:href="@{/resources/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" href="../../resources/css/custom/main.css"
          th:href="@{/resources/css/custom/main.css}" type="text/css">
    <link rel="stylesheet" href="../../resources/css/cssCharts/chart.css"
          th:href="@{/resources/css/cssCharts/chart.css}" type="text/css">
    <link rel="stylesheet" href="../../resources/css/custom/forChart.css"
          th:href="@{/resources/css/custom/forChart.css}" type="text/css">
    <link rel="stylesheet" href="../../resources/css/chartist/chartist-plugin-tooltip.css"
          th:href="@{/resources/css/chartist/chartist-plugin-tooltip.css}" type="text/css">
    <link rel="stylesheet" href="../../resources/css/custom/index.css"
          th:href="@{/resources/css/custom/index.css}" type="text/css">
    <script rel="script" src="../../resources/js/jquery-1.12.3.min.js"
            th:src="@{/resources/js/jquery-1.12.3.min.js}" ></script>
    <script rel="script" src="../../resources/js/cssCharts/jquery.chart.min.js"
            th:src="@{/resources/js/cssCharts/jquery.chart.min.js}" ></script>
    <script rel="script" src="../../resources/js/chartist/chartist.min.js"
            th:src="@{/resources/js/chartist/chartist.min.js}" ></script>
    <script rel="script" src="../../resources/js/chartist/chartist-plugin-tooltip.min.js"
            th:src="@{/resources/js/chartist/chartist-plugin-tooltip.min.js}" ></script>
    <script rel="script" src="../../resources/js/custom/main.js" th:src="@{/resources/js/custom/main.js}"></script>
    <script rel="script" src="../../resources/js/custom/index.js"
            th:src="@{/resources/js/custom/index.js}" ></script>
    <title th:text="#{index.title}">Index</title>
</head>
<body>
<div class="content-wrapper">
    <!--Header-->
    <div th:replace="template :: header" class="header col-lg-12">
        <div class="menu-container">
            <div class="menu">
                <ul class="list-inline head-menu">
                    <li class="h-profile menu-top-level">
                        <div class="h-icon">
                            <img class="h-profile-icon" src="../../resources/img/header/profile-icon.svg">
                        </div>
                        <span class="h-profile-name h-info">Mikhail</span>
                        <ul class="menu-inner profile-menu">
                            <li><a>My account</a></li>
                            <li><a th:href="@{/logout}">Sign out</a></li>
                        </ul>
                    </li>
                    <li class="h-shopping-cart menu-top-level">
                        <div class="h-icon">
                            <img class="h-cart-icon" src="../../resources/img/header/shopping-cart.svg">
                            <div class="h-count h-count-cart">5</div>
                            <div class="h-info inline">
                                <span class="inline">Your bag </span>
                                <span class="inline h-cart-total">(₴ 0.0)</span>
                            </div>
                        </div>
                    </li>
                    <li class="h-lang menu-top-level">
                        <button class="h-lang-icon h-uk-lang"></button>
                        <span class="h-lang-text">ENG</span>
                        <ul class="menu-inner lang-menu">
                            <li th:with="url=('?lang=en')">
                                <a href="#" th:href="@{${url}}">
                                    <button class="h-lang-icon h-uk-lang"></button>
                                    <span class="h-lang-text" th:text="#{locale.en}">ENG</span>
                                </a>
                            </li>
                            <li th:with="url=('?lang=ru')">
                                <a href="#" th:href="@{${url}}">
                                    <button class="h-lang-icon h-ru-lang"></button>
                                    <span class="h-lang-text" th:text="#{locale.ru}">RUS</span>
                                </a>
                            </li>
                            <li th:with="url=('?lang=ua')">
                                <a href="#" th:href="@{${url}}">
                                    <button class="h-lang-icon h-ua-lang"></button>
                                    <span class="h-lang-text">UKR</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Navigation menu with logo-->
    <div class="sub-header" th:replace="template :: sub_header">
        <div class="menu-container">
            <div class="logo">FPoint</div>
            <div class="menu">
                <ul class="list-inline" style="height: 0">
                    <li class="menu-top-level">
                        <div>Catalog</div>
                        <ul class="menu-inner">
                            <li><a th:href="@{/manage/overview/all}" th:text="#{index.button.view_items}">Items</a></li>
                            <li><a th:href="@{/manage/new/item}" th:text="#{index.button.new_item}">Add new item</a></li>
                            <li>Categories</li>
                            <li>Brands</li>
                            <li>Reviews</li>
                            <li>Information</li>
                        </ul>
                    </li>
                    <li class="menu-top-level">
                        <div>Sales</div>
                        <ul class="menu-inner">
                            <li>Orders</li>
                            <li>Returns</li>
                        </ul>
                    </li>
                    <li class="menu-top-level">
                        <div>Customers</div>
                        <ul class="menu-inner">
                            <li>Customers</li>
                            <li>Customer Groups</li>
                            <li>Banned IP</li>
                        </ul>
                    </li>
                    <li class="menu-top-level">
                        <span th:text="#{index.button.users}">Marketing</span>
                        <ul class="menu-inner">
                            <li>Promo Groups</li>
                            <li>Promo Codes</li>
                            <li>Mail</li>
                        </ul>
                    </li>
                </ul>
                <input class="main-search" type="text">
            </div>
        </div>
    </div>
    <div class="custom_jumbo col-lg-12">
        <div>
            <menu class="cat-tree">
                <li class="home">
                    <a class="homeBefore"></a>
                    <a class="home-main home-st"></a>
                </li>
                <li class="cat-tree-4" th:text="#{label.dashboard}">Dashboard</li>
            </menu>
        </div>
    </div>
</div>
<footer th:replace="template :: footer" class="col-lg-12 panel-footer">Footer</footer>
</body>
</html>