
table.t-main tr:hover{
    background-color: rgba(202, 212, 221, 0.61);
    /*font-weight: bold;*/
}
.t-main td{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    border: solid 0.09em rgba(166, 169, 176, 0.21);
    word-break: break-all;
    padding: 2px 5px;
}
td.changed {
    background-color: rgba(242, 237, 217, 0.61);

}
td.deleted{
    background: rgba(246, 187, 177, 0.45);
}
td.inserted {
    background-color: rgba(191, 242, 203, 0.61);
}
span.differs {
    background: yellow;
}
span.empty {
    background: #e86d6d;
}
span.insertedDiff{
    background: #94e494;
}
span.matched {
    background: #97ffff;
}
