<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="#{new.item.title}">Add Item</title>
    <link href="../../../../resources/img/favicon.gif" th:href="@{/resources/img/favicon.gif}" rel="shortcut icon" type="image/gif">
    <link rel="stylesheet" href="../../../../resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/main.css" th:href="@{/resources/css/custom/main.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/filer/jquery.filer.css" th:href="@{/resources/css/filer/jquery.filer.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/filer/jquery.filer-dragdropbox-theme.css" th:href="@{/resources/css/filer/jquery.filer-dragdropbox-theme.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/overview/popup.css" th:href="@{/resources/css/custom/overview/popup.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/new/new.item.css" th:href="@{/resources/css/custom/new/new.item.css}" type="text/css">
    <script rel="script" src="../../../../resources/js/jquery-1.12.3.min.js" th:src="@{/resources/js/jquery-1.12.3.min.js}" ></script>
    <script rel="script" src="../../../../resources/js/jquery.popupoverlay.min.js" th:src="@{/resources/js/jquery.popupoverlay.min.js}"></script>
    <script rel="script" src="../../../../resources/js/filer/jquery.filer.js" th:src="@{/resources/js/filer/jquery.filer.js}" ></script>
    <script rel="script" src="../../../../resources/js/custom/main.js" th:src="@{/resources/js/custom/main.js}"></script>
    <script rel="script" src="../../../../resources/js/custom/new/new.item.js" th:inline="javascript" th:src="@{/resources/js/custom/new/new.item.js}" ></script>

</head>
<body>
<div id="add-cat-popup" class="popup">
    <div class="popup-header" id="category-header">
        <menu>
            <li id="root" class="s2" th:text="#{label.category}">For whom</li>
            <li class="stage_ina s3">.</li>
            <li class="stage_ina s4">.</li>
        </menu>
    </div>
    <div class="content">
        <div class="cat-list">
            <div id="level-2" class="inline lvl">
                <ul class="list-unstyled">
                </ul>
            </div>
            <div id="level-3" class="inline lvl level-d">
                <ul class="list-unstyled">
                </ul>
            </div>
            <div id="level-4" class="inline lvl d">
                <ul class="list-unstyled">
                </ul>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button class="button button-typical close_group" id="accept_group" disabled th:text="#{label.accept}">Accept</button>
    </div>
</div>
<div class="content-wrapper">
    <div th:replace="template :: header" class="header col-lg-12 text-center">
        <input type="text" placeholder="Search" class="form-control">
    </div>
    <div class="custom_jumbo col-lg-12 text-center">
        <p class="head-text" th:text="#{new.item.title}">Add new item form</p>
    </div>
    <div class="col-lg-12 main-content">
        <div class="input-form center-block">
            <h3 th:text="#{new.item.generalInformation}">General information</h3>
            <hr class="hr">
            <label id="name" th:utext="|#{new.item.itemName}| + #{red}">Item name<span class="red">*</span></label>
            <input class="input-name highlight block height" id="item-name" type="text">
            <div id="section_1">
                <div id="group_one">
                    <label class="block" th:utext="|#{new.item.itemGroup}|+#{red}">Item group<span class="red">*</span></label>
                    <button class="button button-bordered changeGroup" id="changeGroup" th:text="#{label.change}">Change</button>
                </div>
                <div id="group_two">
                    <label class="block" th:text="#{new.item.itemGroup}">Item group:</label>
                    <span class="block" id="group_two_text"></span>
                    <a class="change changeGroup" th:text="#{new.item.change}">change</a>
                </div>
            </div>
            <div id="section_2">
                <h3 th:text="#{new.item.colorBrand}">Color & brand</h3>
                <hr class="hr">
                <div class="brand-list">
                    <ul class="list-inline">
                        <li id="brand">
                            <label class="block" th:text="#{new.item.brand}">Brand</label>
                            <div class="dropdown">
                                <button class="dropbtn button-bordered inline" th:text="#{new.item.choose}">choose</button>
                                <button class="inline plus" id="brand-plus">+</button>
                                <div class="dropdown-content">
                                </div>
                            </div>
                        </li>
                        <li id="brand-logo">
                            <img src="">
                        </li>
                    </ul>
                </div>
                <div class="color-list">
                    <ul class="list-inline">
                        <li id="color">
                            <label class="block" th:text="#{new.item.color}">Color</label>
                            <div class="dropdown">
                                <button class="dropbtn button-bordered inline" th:text="#{new.item.choose}">red <span id="hex" class="hex"></span></button>
                                <button class="inline plus" id="color-plus">+</button>
                                <div class="dropdown-content">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <h3 th:text="#{new.item.photos}">Photos</h3>
                <hr class="hr">
                <div id="image_upload" class="col-lg-12">
                    <p class="info" th:text="#{new.item.photosTip}">You can choose up to 8 photos, but you should upload at least one.</p>
                    <form action="/manage/new/item/clothes" th:action="@{/manage/new/item/clothes(${_csrf.parameterName}=${_csrf.token})}" method="post" enctype="multipart/form-data" id="img">
                        <input type="file" name="files[]" id="filer_input" multiple="multiple">
                        <input id="item" hidden name="item">
                        <input hidden type="submit" id="sub">
                    </form>
                    <div id="upload_wrapper"></div>
                </div>
            </div>
            <div id="section_3" class="col-lg-12">
                <div id="clothes_items" class="col-lg-12">
                    <h3 th:text="#{new.item.clothes.sizeMeasurements}">Size and measurements</h3>
                    <hr class="hr">
                    <div id="item_group_1" class="col-lg-7">
                        <ul class="list-inline">
                            <li id="eu_waist_select">
                                <label class="block" th:utext="|#{new.item.clothes.eu_waist}| + #{red}">EU Waist<span class="red">*</span></label>
                                <div class="dropdown">
                                    <button class="dropbtn button-bordered inline" th:text="#{new.item.choose}">choose</button>
                                    <div class="dropdown-content">
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="list-inline">
                            <li id="group_1_waist_li">
                                <label class="block" th:utext="|#{new.item.clothes.waist}| + #{red}">Waist<span class="red">*</span></label>
                                <input type="text" class="highlight block height measurements">
                            </li>
                            <li id="group_1_length_li">
                                <label class="block" th:utext="|#{new.item.clothes.length}| + #{red}">Length<span class="red">*</span></label>
                                <input type="text" class="highlight block height measurements">
                            </li>
                            <li id="group_1_bottom_li">
                                <label class="block" th:utext="|#{new.item.clothes.bottom}| + #{red}">Bottom<span class="red">*</span></label>
                                <input type="text" class="highlight block height measurements">
                            </li>
                        </ul>
                    </div>
                    <div id="item_group_2" class="col-lg-7">
                        <div class="eu_select">
                            <label class="block">EU<span class="red">*</span></label>
                            <div class="dropdown">
                                <button class="dropbtn button-bordered inline" th:text="#{new.item.choose}">choose</button>
                                <div class="dropdown-content">
                                </div>
                            </div>
                        </div>
                        <ul class="list-inline">
                            <li id="group_2_shoulders_li">
                                <label class="block" th:utext="|#{new.item.clothes.shoulders}| + #{red}">Shoulders<span class="red">*</span></label>
                                <input type="text" class="highlight block height measurements">
                            </li>
                            <li id="group_2_length_li">
                                <label class="block" th:utext="|#{new.item.clothes.length}| + #{red}">Length<span class="red">*</span></label>
                                <input type="text" class="highlight block height measurements">
                            </li>
                            <li id="group_2_chest_li">
                                <label class="block" th:utext="|#{new.item.clothes.chest}| + #{red}">Chest<span class="red">*</span></label>
                                <input type="text" class="highlight block height measurements">
                            </li>
                        </ul>
                        <ul class="list-inline" id="item_group_3">
                            <li id="group_3_sleeve_li">
                                <label class="block" th:utext="|#{new.item.clothes.sleeve}| + #{red}">Sleeve<span class="red">*</span></label>
                                <input type="text" class="highlight block height measurements">
                            </li>
                        </ul>
                    </div>
                    <div id="measurement_example" class="col-lg-5">
                        <img id="example_group_1" src="../../../../resources/img/new/examples/jeans_size.png" th:src="@{/resources/img/new/examples/jeans_size.png}">
                        <img id="example_group_11" src="../../../../resources/img/new/examples/shorts_size.png" th:src="@{/resources/img/new/examples/shorts_size.png}">
                        <img id="example_group_2" src="../../../../resources/img/new/examples/t-shirt_size.png" th:src="@{/resources/img/new/examples/t-shirt_size.png}">
                        <img id="example_group_3" src="../../../../resources/img/new/examples/shirt_size_rus.png" th:src="@{/resources/img/new/examples/shirt_size_rus.png}">
                        <p id="advice" th:text="#{new.item.advice}">*Follow this example above to make a right measurements.</p>
                    </div>
                    <div class="add_size_panel col-lg-7" id="add_size">
                        <ul class="list-inline">
                            <li id="add_size_panel_qty_li">
                                <label th:utext="|#{new.item.quantity}| + #{red}">Quantity<span class="red">*</span></label>
                                <input type="text" class="highlight block height" value="1" id="qty">
                            </li>
                            <li id="add_size_panel_btn_li">
                                <button disabled id="add_size_input" th:text="#{new.item.clothes.addSize}">Add size</button>
                            </li>
                        </ul>
                    </div>
                    <div id="size_preview" class="col-lg-12">
                    </div>
                </div>
            </div>
            <div id="section_4" class="col-lg-12">
                <h3 th:text="#{new.item.price}">Price</h3>
                <hr class="hr">
                <ul class="list-inline">
                    <li id="origin_li"><label class="block" th:utext="|#{new.item.originPrice}| + #{red}">Origin price<span class="red">*</span></label>
                        <input type="number" step="0.1" min="1" value="1" id="origin_price" class="highlight block height">
                    </li>
                    <li id="sale_li"><label class="block" th:utext="|#{new.item.salePrice}| + #{red}">Sale price<span class="red">*</span></label>
                        <input type="number" step="0.1" min="1" value="1" id="sale_price" class="highlight block height">
                    </li>
                    <li id="currency">
                        <label class="block" th:text="#{new.item.currency}">Currency</label>
                        <select class="highlight block height">
                            <option value="0">EUR</option>
                            <option value="1">GBP</option>
                            <option value="2" selected>UAH</option>
                            <option value="3">USD</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="col-lg-12 null"><hr class="null"></div>
            <div class="section_end col-lg-12"><button class="button button-typical" id="save" disabled th:text="#{new.item.save}">Save</button></div>
        </div>
    </div>
</div>
<footer th:replace="template :: footer" class="col-lg-12 panel-footer">Footer</footer>
</body>
</html>