<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="#{new.item.title}">Add Item</title>
    <link href="../../../../resources/img/favicon.gif" th:href="@{/resources/img/favicon.gif}" rel="shortcut icon" type="image/gif">
    <link rel="stylesheet" href="../../../../resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/main.css" th:href="@{/resources/css/custom/main.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/filer/jquery.filer.css" th:href="@{/resources/css/filer/jquery.filer.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/spectrum.css" th:href="@{/resources/css/spectrum.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/overview/popup.css" th:href="@{/resources/css/custom/overview/popup.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/new/new.item.css" th:href="@{/resources/css/custom/new/new.item.css}" type="text/css">
    <script rel="script" src="../../../../resources/js/jquery-1.12.3.min.js" th:src="@{/resources/js/jquery-1.12.3.min.js}" ></script>
    <script rel="script" src="../../../../resources/js/jquery.popupoverlay.min.js" th:src="@{/resources/js/jquery.popupoverlay.min.js}"></script>
    <script rel="script" src="../../../../resources/js/filer/jquery.filer.js" th:src="@{/resources/js/filer/jquery.filer.js}" ></script>
    <script rel="script" src="../../../../resources/js/custom/main.js" th:src="@{/resources/js/custom/main.js}"></script>
    <script rel="script" src="../../../../resources/js/spectrum.min.js" th:src="@{/resources/js/spectrum.min.js}"></script>
    <script rel="script" src="../../../../resources/js/jquery.tabslet.min.js" th:src="@{/resources/js/jquery.tabslet.min.js}"></script>
    <script rel="script" src="../../../../resources/js/custom/new/new.item.js" th:inline="javascript" th:src="@{/resources/js/custom/new/new.item.js}" ></script>

</head>
<body>
<div id="add-cat-popup" class="popup">
    <div class="popup-header" id="category-header">
        <menu>
            <li id="root" class="s2" th:text="#{label.category}">For whom</li>
            <li class="stage_ina s3">.</li>
            <li class="stage_ina s4">.</li>
        </menu>
    </div>
    <div class="content">
        <div class="cat-list">
            <div id="level-2" class="inline level">
                <ul class="list-unstyled">
                </ul>
            </div>
            <div id="level-3" class="inline level level-d">
                <ul class="list-unstyled">
                </ul>
            </div>
            <div id="level-4" class="inline level d">
                <ul class="list-unstyled">
                </ul>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button class="button button-typical close_group" id="accept_group" disabled th:text="#{label.accept}">Accept</button>
    </div>
</div>
<div id="extraNotes_popup" class="popup">
    <div class="popup-header"><h3><span th:text="#{label.extraNotes.header}">Extra notes</span></h3></div>
    <div>
        <div class="popup-info">
            <h5 th:text="#{label.extraNotes.headInfo}">Enter some important information about the size, condition or product at all. This information available only for administrators.</h5>
        </div>
        <div class="input-block">
            <textarea spellcheck="false" id="ex-info"></textarea>
        </div>
        <div class="buttons">
            <ul class="list-inline">
                <li><button class="accept-button button-typical extra_close" th:text="#{label.accept}">Accept</button></li>
                <li><button class="cancel-button button-bordered extra_close" th:text="#{label.cancel}">Cancel</button></li>
            </ul>
        </div>
    </div>
</div>
<div id="color_popup" class="popup">
    <div class="popup-header"><h3><span th:text="#{label.color.header}">New color</span></h3></div>
    <div class="popup-content">
        <div class="popup-info">
            <h5 th:text="#{label.color.headerInfo}">Enter some important information about the size, condition or product at all. This information available only for administrators.</h5>
        </div>
        <div class="color-left">
            <ul class="list-unstyled">
                <li><input id="color-sample" type="text"></li>
                <li><label id="color-value">#fff</label></li>
            </ul>
        </div>
        <div class="color-right">
            <div class="tabs color-tabs">
                <ul id="color-forTabs" class="forTabs">
                    <li class="active" ><a href="#c-tab-1" th:text="#{locale.en}">EN</a></li>
                    <li><a href="#c-tab-2" th:text="#{locale.ru}">RU</a></li>
                    <li class="last-li"><a href="#c-tab-3" th:text="#{locale.ua}">UA</a></li>
                </ul>
                <div id="c-tab-1">
                    <input class="height c-name" id="c-name-en"  spellcheck="false" th:placeholder="#{label.color.placeHolder.name}">
                </div>
                <div id="c-tab-2">
                    <input class="height c-name" id="c-name-ru"  spellcheck="false" th:placeholder="#{label.color.placeHolder.name}">
                </div>
                <div id="c-tab-3">
                    <input class="height c-name" id="c-name-ua"  spellcheck="false" th:placeholder="#{label.color.placeHolder.name}">
                </div>
            </div>
        </div>
        <div class="buttons">
            <ul class="list-inline">
                <li><button class="update-button button-typical color_close" th:text="#{new.item.save}" disabled>Save</button></li>
                <li><button class="cancel-button button-bordered color_close" th:text="#{label.cancel}">Cancel</button></li>
            </ul>
        </div>
    </div>
</div>
<div id="brand_popup" class="popup">
    <div class="popup-header"><h3><span th:text="#{label.brand.header}">New brand</span></h3></div>
    <div class="popup-content">
        <div class="popup-info">
            <h5 th:text="#{label.brand.headerInfo}">Enter the brand name then choose a brand logo and write a few words about new brand in the right block.</h5>
        </div>
        <div class="brand-left">
            <ul class="list-unstyled">
                <li>
                    <div id="brand_upload">
                        <div id="b-file-holder"></div>
                        <form id="brand_form" action="/manage/ajax/save/brand" th:action="@{/manage/ajax/save/brand(${_csrf.parameterName}=${_csrf.token})}"
                              method="post" enctype="multipart/form-data">
                            <input type="file" name="files[]" id="brand_input">
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="brand-right">
            <div class="b-name">
                <input id="b-name" class="height" spellcheck="false" placeholder="Brand name" th:placeholder="#{label.brand.placeHolder.name}">
            </div>
            <div class="tabs brand-tabs">
                <ul id="brand-forTabs" class="forTabs">
                    <li class="active" ><a href="#b-tab-1" th:text="#{locale.en}">EN</a></li>
                    <li><a href="#b-tab-2" th:text="#{locale.ru}">RU</a></li>
                    <li class="last-li"><a href="#b-tab-3" th:text="#{locale.ua}">UA</a></li>
                </ul>
                <div id="b-tab-1" class="b-tab-inner">
                    <textarea class="b-dsc" id="b-dsc-en" spellcheck="false" placeholder="Enter a few words about brand" th:placeholder="#{label.brand.placeHolder.about}"></textarea>
                </div>
                <div id="b-tab-2" class="b-tab-inner">
                    <textarea class="b-dsc" id="b-dsc-ru" spellcheck="false" th:placeholder="#{label.brand.placeHolder.about}"></textarea>
                </div>
                <div id="b-tab-3" class="b-tab-inner">
                    <textarea class="b-dsc" id="b-dsc-ua" spellcheck="false" th:placeholder="#{label.brand.placeHolder.about}"></textarea>
                </div>
            </div>
        </div>
        <div class="buttons">
            <ul class="list-inline">
                <li><button class="update-button button-typical brand_close" th:text="#{label.accept}" disabled>Accept</button></li>
                <li><button class="cancel-button button-bordered brand_close" th:text="#{label.cancel}">Cancel</button></li>
            </ul>
        </div>
    </div>
</div>
<div id="size_popup" class="popup">
    <div class="popup-header"><h3 class="headH3"><span class="headSpan" th:text="#{label.sizeEdit.header}">Size edit</span></h3></div>
    <div class="popup-content">
        <div class="popup-info">
            <h5 class="popup-h5" th:text="#{label.sizeEdit.headInfo}">Enter the brand name then choose a brand logo and write a few words about new brand in the right block. </h5>
        </div>
        <div class="sz-e-container">
            <ul class="sz-e-major list-inline">
                <li>
                    <div class="dropdown">
                        <button class="dropbtn button-bordered inline">W32 L32</button>
                        <input hidden id="sz-eu-id">
                        <div class="dropdown-content">
                        </div>
                    </div>
                </li>
                <li><div class="sz-e-label"><label>Qty</label></div>
                    <input class="height" id="sz-e-qty" type="text" value="2">
                </li>
            </ul>
            <ul class="sz-e-fields list-inline">
                <li>
                    <div class="sz-e-label"><label>Waist</label></div>
                    <input class="height first" type="text" value="82-84">
                </li>
                <li>
                    <div class="sz-e-label"><label>Length</label></div>
                    <input class="height second" type="text" value="103-104">
                </li>
                <li>
                    <div class="sz-e-label"><label>Bottom</label></div>
                    <input class="height third" type="text" value="16-16.5">
                </li>
            </ul>
            <ul class="sz-e-fields-ex list-inline">
                <li>
                    <div class="sz-e-label"><label>Sleeve</label></div>
                    <input class="height fourth" type="text" value="67-68">
                </li>
            </ul>
        </div>
        <div class="buttons">
            <ul class="list-inline">
                <li><button class="update-button button-typical size_close" th:text="#{label.accept}">Accept</button></li>
                <li><button class="cancel-button button-bordered size_close" th:text="#{label.cancel}">Cancel</button></li>
            </ul>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <!--Header-->
    <div th:replace="template :: header" class="header col-lg-12">
        <div class="menu-container">
            <div class="menu">
                <ul class="list-inline head-menu">
                    <li class="h-profile menu-top-level">
                        <div class="h-icon">
                            <img class="h-profile-icon" src="../../resources/img/header/profile-icon.svg">
                        </div>
                        <span class="h-profile-name h-info">Mikhail</span>
                        <ul class="menu-inner profile-menu">
                            <li><a>My account</a></li>
                            <li><a th:href="@{/logout}">Sign out</a></li>
                        </ul>
                    </li>
                    <li class="h-shopping-cart menu-top-level">
                        <div class="h-icon">
                            <img class="h-cart-icon" src="../../resources/img/header/shopping-cart.svg">
                            <div class="h-count h-count-cart">5</div>
                            <div class="h-info inline">
                                <span class="inline">Your bag </span>
                                <span class="inline h-cart-total">(₴ 0.0)</span>
                            </div>
                        </div>
                    </li>
                    <li class="h-lang menu-top-level">
                        <button class="h-lang-icon h-uk-lang"></button>
                        <span class="h-lang-text">ENG</span>
                        <ul class="menu-inner lang-menu">
                            <li th:with="url=('?lang=en')">
                                <a href="#" th:href="@{${url}}">
                                    <button class="h-lang-icon h-uk-lang"></button>
                                    <span class="h-lang-text" th:text="#{locale.en}">ENG</span>
                                </a>
                            </li>
                            <li th:with="url=('?lang=ru')">
                                <a href="#" th:href="@{${url}}">
                                    <button class="h-lang-icon h-ru-lang"></button>
                                    <span class="h-lang-text" th:text="#{locale.ru}">RUS</span>
                                </a>
                            </li>
                            <li th:with="url=('?lang=ua')">
                                <a href="#" th:href="@{${url}}">
                                    <button class="h-lang-icon h-ua-lang"></button>
                                    <span class="h-lang-text">UKR</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Navigation menu with logo-->
    <div class="sub-header" th:replace="template :: sub_header">
        <div class="menu-container">
            <div class="logo">FPoint</div>
            <div class="menu">
                <ul class="list-inline" style="height: 0">
                    <li class="menu-top-level">
                        Items
                        <ul class="menu-inner">
                            <li><a th:href="@{/manage/overview/all}" th:text="#{index.button.view_items}">All items</a></li>
                            <li>Active items</li>
                            <li>Inactive items</li>
                            <li>Sale items</li>
                            <li><a th:href="@{/manage/new/item}" th:text="#{index.button.new_item}">Add new item</a></li>
                        </ul>
                    </li>
                    <li class="menu-top-level">Categories
                        <ul class="menu-inner">
                            <li>Jeans</li>
                            <li>Chinos</li>
                            <li>T-Shirts</li>
                            <li>Shoes</li>
                            <li>Shorts</li>
                        </ul>
                    </li>
                    <li class="menu-top-level">Orders</li>
                    <li class="menu-top-level"><span th:text="#{index.button.users}">Users</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="custom_jumbo col-lg-12">
        <div>
            <menu class="cat-tree">
                <li class="home">
                    <a class="homeBefore"></a>
                    <a class="home-main home-st" th:href="@{/}"></a>
                </li>
                <li class="cat-tree-1" th:text="#{label.catalog}">Items</li>
                <li class="cat-tree-4">Add New</li>
            </menu>
        </div>
    </div>
    <div class="col-lg-12 main-content">

        <div class="input-form center-block">

            <div class="info not_completed" id="name-block">
                <h3 th:text="#{new.item.itemName}">Item name</h3>
                <h5 th:text="#{label.itemName.h5}">Enter the item name in EN, RU and UA.</h5>
                <img class="info-pic" src="../../../../resources/img/new/item-name.svg" th:src="@{/resources/img/new/item-name.svg}">
            </div>
            <div id="section_0" class="bottom_line">
                <ul class="list-inline">
                    <li> <label class="name" th:utext="#{locale.en}">EN</label></li>
                    <li><input class="input-name highlight height" id="item-name-en" type="text" spellcheck="false"></li>
                </ul>
                <ul class="list-inline">
                    <li> <label class="name" th:utext="#{locale.ru}">RU</label></li>
                    <li><input class="input-name highlight height" id="item-name-ru" type="text" spellcheck="false"></li>
                </ul>
                <ul class="list-inline">
                    <li> <label class="name" th:utext="#{locale.ua}">UA</label></li>
                    <li><input class="input-name highlight height" id="item-name-ua" type="text" spellcheck="false"></li>
                </ul>
            </div>
            <div class="info not_completed" id="cat-block">
                <h3 th:text="#{new.item.itemGroup}">Category</h3>
                <h5 th:text="#{new.item.itemGroup.h5}">Choose item category</h5>
                <img class="info-pic" src="../../../../resources/img/new/category.svg" th:src="@{/resources/img/new/category.svg}">
            </div>
            <div id="section_1" class="bottom_line">
                <div id="group_one">
                    <button class="button button-bordered changeGroup" id="changeGroup" th:text="#{label.change}">Change</button>
                </div>
                <div id="group_two">
                    <label class="block" th:text="#{new.item.itemGroup}">Item group:</label>
                    <span class="block" id="group_two_text"></span>
                    <a class="change changeGroup" th:text="#{new.item.change}">change</a>
                </div>
            </div>
            <div id="section_2" class="bottom_line">
                <div class="info not_completed" id="cb-block">
                    <h3 th:text="#{new.item.colorBrand}">Color & brand</h3>
                    <h5 th:text="#{label.colorBrand.h5}">Choose item color and brand. If you can't find the color or brand you can add manually by pressing the 'plus' button.</h5>
                    <img class="info-pic" src="../../../../resources/img/new/art-palette.svg" th:src="@{/resources/img/new/art-palette.svg}">
                </div>
                <div class="brand-list">
                    <ul class="list-inline">
                        <li id="brand">
                           <div id="brnd">
                               <label class="block" th:text="#{new.item.brand}">Brand</label>
                               <div class="dropdown">
                                   <button class="dropbtn button-bordered inline" th:text="#{new.item.choose}">choose</button>
                                   <button class="inline plus" id="brand-plus">+</button>
                                   <div class="dropdown-content">
                                   </div>
                               </div>
                           </div>
                        </li>
                        <li class="logo">
                            <div id="brand-logo">
                                <img th:src="@{/storage/brand/images/default.png}">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="color-list bottom_line">
                    <ul class="list-inline">
                        <li id="color">
                            <label class="block" th:text="#{new.item.color}">Color</label>
                            <div class="dropdown">
                                <button class="dropbtn button-bordered inline" th:text="#{new.item.choose}">red <span class="hex"></span></button>
                                <button class="inline plus" id="color-plus">+</button>
                                <div class="dropdown-content">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div id="color_sample" data-color="false"><input hidden type="number"></div>
                </div>
                <div class="info not_completed" id="ph-block">
                    <h3 th:text="#{new.item.photos}">Photos</h3>
                    <h5 th:text="#{new.item.photosTip}">You can choose up to 8 photos, but you should upload at least one.</h5>
                    <img class="info-pic" src="../../../../resources/img/new/photos.svg" th:src="@{/resources/img/new/photos.svg}">
                </div>
                <div id="image_upload">
                    <form action="/manage/new/item/clothes" th:action="@{/manage/new/item/clothes(${_csrf.parameterName}=${_csrf.token})}" method="post" enctype="multipart/form-data" id="img">
                        <input type="file" name="files[]" id="filer_input" multiple="multiple">
                        <input id="item" hidden name="item">
                        <input id="editMode" hidden name="edit" value="false">
                        <input id="removedImg" hidden name="removed" value="''">
                        <input hidden type="submit" id="sub">
                    </form>
                    <div id="upload_wrapper"></div>
                </div>
            </div>
            <div id="section_3" class="bottom_line">
                <div id="clothes_items">
                    <div class="info not_completed" id="sz-block">
                        <h3 th:text="#{new.item.clothes.sizeMeasurements}">Size and measurements</h3>
                        <h5 th:text="#{new.item.clothes.sizeMeasurements.h5}">Enter measurements and add items size.</h5>
                        <img class="info-pic" src="../../../../resources/img/new/measuring-tape.svg" th:src="@{/resources/img/new/measuring-tape.svg}">
                    </div>
                    <div id="mr-10">
                        <div id="item_group_1">
                            <ul class="list-inline list-select">
                                <li id="eu_waist_select">
                                    <label class="block" th:utext="|#{new.item.clothes.eu_waist}| + #{red}">EU Waist<span class="red">*</span></label>
                                    <div class="dropdown">
                                        <button class="dropbtn button-bordered inline" th:text="#{new.item.choose}">choose</button>
                                        <div class="dropdown-content">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li id="group_1_waist_li">
                                    <label class="block" th:utext="|#{new.item.clothes.waist}| + #{red}">Waist<span class="red">*</span></label>
                                    <input type="text" class="highlight block height measurements">
                                </li>
                                <li id="group_1_length_li">
                                    <label class="block" th:utext="|#{new.item.clothes.length}| + #{red}">Length<span class="red">*</span></label>
                                    <input type="text" class="highlight block height measurements">
                                </li>
                                <li id="group_1_bottom_li">
                                    <label class="block" th:utext="|#{new.item.clothes.bottom}| + #{red}">Bottom<span class="red">*</span></label>
                                    <input type="text" class="highlight block height measurements">
                                </li>
                            </ul>
                        </div>
                        <div id="item_group_2">
                            <div class="eu_select list-select">
                                <label class="block">EU<span class="red">*</span></label>
                                <div class="dropdown">
                                    <button class="dropbtn button-bordered inline" th:text="#{new.item.choose}">choose</button>
                                    <div class="dropdown-content">
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline">
                                <li id="group_2_shoulders_li">
                                    <label class="block" th:utext="|#{new.item.clothes.shoulders}| + #{red}">Shoulders<span class="red">*</span></label>
                                    <input type="text" class="highlight block height measurements">
                                </li>
                                <li id="group_2_length_li">
                                    <label class="block" th:utext="|#{new.item.clothes.length}| + #{red}">Length<span class="red">*</span></label>
                                    <input type="text" class="highlight block height measurements">
                                </li>
                                <li id="group_2_chest_li">
                                    <label class="block" th:utext="|#{new.item.clothes.chest}| + #{red}">Chest<span class="red">*</span></label>
                                    <input type="text" class="highlight block height measurements">
                                </li>
                            </ul>
                            <ul class="list-inline" id="item_group_3">
                                <li id="group_3_sleeve_li">
                                    <label class="block" th:utext="|#{new.item.clothes.sleeve}| + #{red}">Sleeve<span class="red">*</span></label>
                                    <input type="text" class="highlight block height measurements">
                                </li>
                            </ul>
                        </div>
                        <div id="item_group_4">
                            <div class="eu_select list-select">
                                <label class="block">EU<span class="red">*</span></label>
                                <div class="dropdown">
                                    <button class="dropbtn button-bordered inline" th:text="#{new.item.choose}">choose</button>
                                    <div class="dropdown-content">
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline group-4-m">
                                <li id="group_4_sole_li">
                                    <label class="block" th:utext="|#{label.measurement.insole}| + #{red}">Insole<span class="red">*</span></label>
                                    <input type="text" class="highlight block height measurements">
                                </li>
                            </ul>
                        </div>
                        <div id="measurement_example" class="col-lg-5">
                            <img id="example_group_1" src="../../../../resources/img/new/examples/jeans_size.png" th:src="@{/resources/img/new/examples/jeans_size.png}">
                            <img id="example_group_11" src="../../../../resources/img/new/examples/shorts_size.png" th:src="@{/resources/img/new/examples/shorts_size.png}">
                            <img id="example_group_2" src="../../../../resources/img/new/examples/t-shirt_size.png" th:src="@{/resources/img/new/examples/t-shirt_size.png}">
                            <img id="example_group_3" src="../../../../resources/img/new/examples/shirt_size_rus.png" th:src="@{/resources/img/new/examples/shirt_size_rus.png}">
                            <img id="example_group_4" src="../../../../resources/img/new/examples/shoe_size_ru.png" th:src="@{/resources/img/new/examples/shoe_size_ru.png}">
                            <p id="advice" th:text="#{new.item.advice}">*Follow this example above to make a right measurements.</p>
                        </div>
                        <div class="add_size_panel" id="add_size">
                            <ul class="list-inline">
                                <li id="add_size_panel_qty_li">
                                    <label th:utext="|#{new.item.quantity}| + #{red}">Quantity<span class="red">*</span></label>
                                    <input type="text" class="highlight block height" value="1" id="qty">
                                </li>
                                <li id="add_size_panel_btn_li">
                                    <button disabled id="add_size_input" th:text="#{new.item.clothes.addSize}">Add size</button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div id="size_preview">
                        <ul class="list-inline sz-main">
                        </ul>
                    </div>
                </div>
            </div>
            <div id="section_4">
                <div id="section_description" >
                    <div class="info not_completed" id="ds-block">
                        <h3 th:text="#{label.features}">Features</h3>
                        <h5 th:text="#{label.features.h5}">Describe in short your item. At least one feature needs to be added.</h5>
                        <img class="info-pic" src="../../../../resources/img/new/features.svg" th:src="@{/resources/img/new/features.svg}">
                    </div>
                    <ul class="list-inline item_description">
                        <li><label class="name" th:utext="#{locale.en}">EN</label>
                            <textarea class="en featureBlock" spellcheck="false"></textarea>
                        </li>
                        <li><label class="name" th:utext="#{locale.ru}">RU</label>
                            <textarea class="ru featureBlock" spellcheck="false"></textarea>
                        </li>
                        <li><label class="name" th:utext="#{locale.ua}">UA</label>
                            <textarea class="ua featureBlock" spellcheck="false"></textarea>
                        </li>
                    </ul>
                    <div class="bottom_line">
                        <button class="button-bordered button feature" disabled>Add feature</button>
                        <button class="extra_note extra_note_not_filled"></button>
                    </div>

                    <div class="feature_holder bottom_line">
                       <!-- <ul class="list-inline feature_preview">
                            <li th:remove="all"><input type="text" class="height" value="100% cotton"></li>
                            <li th:remove="all" class="marg"><input type="text" class="height" value="100% хлопок"  spellcheck="false"></li>
                            <li th:remove="all" class="marg"><input type="text" class="height" value="100% бавовна"  spellcheck="false"></li>
                            <li th:remove="all"><button class="remove_row"></button></li>
                        </ul>
                        <ul class="list-inline feature_preview">
                            <li th:remove="all"><input type="text" class="height" value="100% cotton"></li>
                            <li th:remove="all" class="marg"><input type="text" class="height" value="100% хлопок"  spellcheck="false"></li>
                            <li th:remove="all" class="marg"><input type="text" class="height" value="100% бавовна"  spellcheck="false"></li>
                            <li th:remove="all"><button class="remove_row"></button></li>
                        </ul>-->
                    </div>
                </div>
                <div class="info not_completed" id="pr-block">
                    <h3 th:text="#{new.item.price}">Price</h3>
                    <h5 th:text="#{label.priceDiscount.h5}">Provide price information about product. Chose another currency to bind prices to the actual currency rate.
                        Add discount value to make special offer to this item.</h5>
                    <img class="info-pic" src="../../../../resources/img/new/price.svg" th:src="@{/resources/img/new/price.svg}">
                </div>
                <ul class="list-inline price_list bottom_line">
                    <li id="origin_li"><label class="block" th:utext="|#{new.item.originPrice}| + #{red}">Origin price<span class="red">*</span></label>
                        <input type="number" step="0.1" min="0" value="0" id="origin_price" class="highlight block height">
                    </li>
                    <li id="sale_li"><label class="block" th:utext="|#{new.item.salePrice}| + #{red}">Sale price<span class="red">*</span></label>
                        <input type="number" step="0.1" min="0" value="0" id="sale_price" class="highlight block height">
                    </li>
                    <li id="discount_li">
                        <label class="block" th:text="(#{label.discount}+', %')">Discount, %</label>
                        <input type="number" step="1" min="0" value="0" max="99" id="discount" class="highlight block height">
                    </li>
                    <li id="currency">
                        <label class="block" th:text="#{new.item.currency}">Currency</label>
                        <select class="highlight block height">
                            <option value="0">EUR</option>
                            <option value="1">GBP</option>
                            <option value="2" selected>UAH</option>
                            <option value="3">USD</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="null"><hr class="null"></div>
            <div class="section_end"><button class="button button-typical" id="save" disabled th:text="#{new.item.save}">Save</button></div>
        </div>
    </div>
</div>
<footer th:replace="template :: footer" class="col-lg-12 panel-footer">Footer</footer>
</body>
</html>