<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Overview</title>
    <link href="../../../../resources/img/favicon.png" th:href="@{/img/favicon.png}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="../../../../resources/css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/main.css" th:href="@{/css/custom/main.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/spectrum.css" th:href="@{/resources/css/spectrum.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/overview/popup.css" th:href="@{/resources/css/custom/overview/popup.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/filer/jquery.filer.css" th:href="@{/resources/css/filer/jquery.filer.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/new/new.item.css" th:href="@{/resources/css/custom/new/new.item.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/spectrum.css" th:href="@{/resources/css/spectrum.css}" type="text/css">
    <script rel="script" src="../../../../resources/js/jquery-1.12.3.min.js" th:src="@{/resources/js/jquery-1.12.3.min.js}" ></script>
    <script rel="script" src="../../../../resources/js/filer/jquery.filer.js" th:src="@{/resources/js/filer/jquery.filer.js}" ></script>
    <script rel="script" src="../../../../resources/js/jquery.popupoverlay.min.js" th:src="@{/js/jquery.popupoverlay.min.js}"></script>
    <script rel="script" src="../../../../resources/js/custom/main.js" th:src="@{/resources/js/custom/main.js}"></script>
    <script rel="script" src="../../../../resources/js/jquery.tabslet.min.js" th:src="@{/resources/js/jquery.tabslet.min.js}"></script>
    <script rel="script" src="../../../../resources/js/spectrum.min.js" th:src="@{/resources/js/spectrum.min.js}"></script>
   <!-- <script rel="script" src="../../../../resources/js/custom/new/new.item.js" th:src="@{/resources/js/custom/new/new.item.js}" ></script>-->
    <script>
        $(function(){
            var lang = $.cookie("app");
            if(lang == undefined || lang.length < 2) lang = 'en';
            var locale = getLocale(lang);
            var brand_popup = $('#brand_popup');
            brand_popup.popup({
                opacity: 0.3,
                transition: 'all 0.3s',
                openelement: '#brand-plus',
                closeelement: '.brand_close'
            });
            brand_popup.popup('show');
            $('.brand-tabs').tabslet();
            $("#color-sample").spectrum({
                color: "#fff",
                showAlpha: true,
                clickoutFiresChange: false,
                showInitial: true,
                showInput: true,
                preferredFormat: "hex"
            });
            $('.sp-choose').click(function () {
                $('#color-value').text($('.sp-input').val());
            });
            function newColorInputBind(){
                var en = brand_popup.find('#c-name-en'),
                    ru = brand_popup.find('#c-name-ru'),
                    ua = brand_popup.find('#c-name-ua'),
                    saveButton = brand_popup.find('.update-button');
                function checkAllInputs(){
                    unlock(saveButton, checkLength(en) && checkLength(ru) && checkLength(ua));
                }
                en.bind('input propertychange', checkAllInputs());
                ru.bind('input propertychange', checkAllInputs());
                ua.bind('input propertychange', checkAllInputs());
            }
            $('#brand_input').filer({
                showThumbs: true,
                limit: 1,
                appendTo: $('#b-file-holder'),
                templates: {
                    box: filer.box,
                    item: filer.item,
                    itemAppend: filer.itemAppend,
                    itemAppendToEnd: true,
                    removeConfirmation: true,
                    _selectors: {
                        list: '.jFiler-items-list',
                        item: '.jFiler-item',
                        remove: '.jFiler-item-trash-action'
                    }
                },
                captions: {
                    button: locale.label_addPhotos,
                    feedback: "Choose files To Upload",
                    feedback2: "files were chosen",
                    drop: "Drop file here to Upload",
                    removeConfirmation: "Are you sure you want to remove this file?",
                    errors: {
                        filesLimit: "Only {{fi-limit}} files are allowed to be uploaded.",
                        filesType: "Only Images are allowed to be uploaded.",
                        filesSize: "{{fi-name}} is too large! Please upload file up to {{fi-maxSize}} MB.",
                        filesSizeAll: "Files you've choosed are too large! Please upload files up to {{fi-maxSize}} MB."
                    }
                },
                afterShow: function(){
                    /*changePhotoBlockStatus(true)*/
                },
                onEmpty: function(){
                    /*changePhotoBlockStatus(false)*/
                },
                addMore: false
            });
        })
    </script>
</head>
<body>
<div id="brand_popup" class="popup">
    <div class="popup-header"><h3><span th:text="#{label.extraNotes.header}">New brand</span></h3></div>
    <div class="popup-content">
        <div class="popup-info">
            <h5 th:text="#{label.extraNotes.headInfo}">Enter the brand name then choose a brand logo and write a few words about new brand in the right block. </h5>
        </div>
       <div class="brand-left">
           <ul class="list-unstyled">
               <li>
                   <div id="brand_upload">
                       <div id="b-file-holder"></div>
                       <form action="/manage/new/item/clothes" th:action="@{/manage/new/item/clothes(${_csrf.parameterName}=${_csrf.token})}" method="post" enctype="multipart/form-data" id="img">
                           <input type="file" name="files[]" id="brand_input">
                       </form>
                   </div>
               </li>
           </ul>
       </div>
        <div class="brand-right">
            <div class="b-name">
                <input id="b-name" class="height" placeholder="Brand name">
            </div>
            <div class="tabs brand-tabs">
                <ul id="brand-forTabs" class="forTabs">
                    <li class="active" ><a href="#b-tab-1" th:text="#{label.mainInfo}">EN</a></li>
                    <li><a href="#b-tab-2" th:text="#{new.item.brand}">RU</a></li>
                    <li class="last-li"><a href="#b-tab-3" th:text="#{label.extraInfo}">UA</a></li>
                </ul>
                <div id="b-tab-1" class="b-tab-inner">
                    <textarea class="b-dsc" id="b-dsc-en" placeholder="Enter a few words about brand"></textarea>
                </div>
                <div id="b-tab-2" class="b-tab-inner">
                    <textarea class="b-dsc" id="b-dsc-ru"></textarea>
                </div>
                <div id="b-tab-3" class="b-tab-inner">
                    <textarea class="b-dsc" id="b-dsc-ua"></textarea>
                </div>

            </div>
        </div>
        <div class="buttons">
            <ul class="list-inline">
                <li><button class="update-button button-typical brand_close" th:text="#{label.accept}" disabled>Accept</button></li>
                <li><button class="cancel-button button-bordered brand_close" th:text="#{label.cancel}">Cancel</button></li>
            </ul>
        </div>
    </div>
</div>


</body>
</html>