<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Overview</title>
    <link href="../../../../resources/img/favicon.png" th:href="@{/img/favicon.png}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="../../../../resources/css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/main.css" th:href="@{/css/custom/main.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/spectrum.css" th:href="@{/resources/css/spectrum.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/overview/popup.css" th:href="@{/resources/css/custom/overview/popup.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/filer/jquery.filer.css" th:href="@{/resources/css/filer/jquery.filer.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/new/new.item.css" th:href="@{/resources/css/custom/new/new.item.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/spectrum.css" th:href="@{/resources/css/spectrum.css}" type="text/css">
    <script rel="script" src="../../../../resources/js/jquery-1.12.3.min.js" th:src="@{/resources/js/jquery-1.12.3.min.js}" ></script>
    <script rel="script" src="../../../../resources/js/filer/jquery.filer.js" th:src="@{/resources/js/filer/jquery.filer.js}" ></script>
    <script rel="script" src="../../../../resources/js/jquery.popupoverlay.min.js" th:src="@{/js/jquery.popupoverlay.min.js}"></script>
    <script rel="script" src="../../../../resources/js/custom/main.js" th:src="@{/resources/js/custom/main.js}"></script>
    <script rel="script" src="../../../../resources/js/jquery.tabslet.min.js" th:src="@{/resources/js/jquery.tabslet.min.js}"></script>
    <script rel="script" src="../../../../resources/js/spectrum.min.js" th:src="@{/resources/js/spectrum.min.js}"></script>
   <!-- <script rel="script" src="../../../../resources/js/custom/new/new.item.js" th:src="@{/resources/js/custom/new/new.item.js}" ></script>-->
    <script>
        $(function(){
            var lang = $.cookie("app");
            if(lang == undefined || lang.length < 2) lang = 'en';
            var locale = getLocale(lang);
            var sz_e_popup = $('#size_popup');
            sz_e_popup.popup({
                opacity: 0.3,
                transition: 'all 0.3s',
                openelement: '#brand-plus',
                closeelement: '.brand_close'
            });
            sz_e_popup.popup('show');
            $('.brand-tabs').tabslet();

            $('.sp-choose').click(function () {
                $('#color-value').text($('.sp-input').val());
            });
            $('.sz-preview-list').mouseenter(function(){
                var inv = $(this).find('.sz-invisible');
                inv.removeClass('sz-invisible');
                inv.addClass('sz-visible')
            });
            $('.sz-preview-list').mouseleave(function(){
                var inv = $(this).find('.sz-visible');
                inv.removeClass('sz-visible');
                inv.addClass('sz-invisible')
            });
        })
    </script>
</head>
<body>
<div id="size_popup" class="popup">
    <div class="popup-header"><h3 class="headH3"><span class="headSpan" th:text="#{label.extraNotes.header}">Size edit</span></h3></div>
    <div class="popup-content">
        <div class="popup-info">
            <h5 class="popup-h5" th:text="#{label.extraNotes.headInfo}">Enter the brand name then choose a brand logo and write a few words about new brand in the right block. </h5>
        </div>
        <div class="sz-e-container">
            <ul class="sz-e-major list-inline">
                <li>
                    <div class="dropdown">
                        <button class="dropbtn button-bordered inline">W32 L32</button>
                        <div class="dropdown-content">
                        </div>
                    </div>
                </li>
                <li><div class="sz-e-label"><label>Qty</label></div>
                    <input class="height" id="sz-e-qty" type="text" value="2">
                </li>
            </ul>
            <ul class="sz-e-fields list-inline">
                <li>
                    <div class="sz-e-label"><label>Waist</label></div>
                    <input type="text" class="height" value="82-84">
                </li>
                <li>
                    <div class="sz-e-label"><label>Length</label></div>
                    <input type="text" class="height" value="103-104">
                </li>
                <li>
                    <div class="sz-e-label"><label>Bottom</label></div>
                    <input type="text" class="height" value="16-16.5">
                </li>
            </ul>
            <ul class="sz-e-fields-ex list-inline">
                <li>
                    <div class="sz-e-label"><label>Sleeve</label></div>
                    <input type="text" class="height" value="67-68">
                </li>
            </ul>
        </div>
        <div class="buttons">
            <ul class="list-inline">
                <li><button class="update-button button-typical size_close" th:text="#{label.accept}" disabled>Accept</button></li>
                <li><button class="cancel-button button-bordered size_close" th:text="#{label.cancel}">Cancel</button></li>
            </ul>
        </div>
    </div>
</div>
<ul class="list-inline sz-main">
    <li class="sz-preview-list">
        <div class="sz-container">
            <ul class="list-inline sz-ul">
                <li class="sz-eu"><span>M</span></li>
                <li class="sz-ms"><label class="sz-invisible">43-45 / 71-72 / 106-111 / 66-67</label> </li>
            </ul>
        </div>
        <div class="sz-qty-tag">1</div>
        <div class="sz-remove sz-invisible"></div>
        <button class="sz-remove-btn sz-invisible"></button>
    </li>
</ul>

</body>
</html>