<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Overview</title>
    <link href="../../../../resources/img/favicon.png" th:href="@{/img/favicon.png}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="../../../../resources/css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/main.css" th:href="@{/css/custom/main.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/overview/popup.css" th:href="@{/resources/css/custom/overview/popup.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/tabslet.css" th:href="@{/resources/css/custom/tabslet.css}" type="text/css">
    <link rel="stylesheet" href="../../../../resources/css/custom/new/new.item.css" th:href="@{/resources/css/custom/new/new.item.css}" type="text/css">
    <script rel="script" src="../../../../resources/js/jquery-1.12.3.min.js" th:src="@{/resources/js/jquery-1.12.3.min.js}" ></script>
    <script rel="script" src="../../../../resources/js/jquery.popupoverlay.min.js" th:src="@{/js/jquery.popupoverlay.min.js}"></script>
    <script rel="script" src="../../../../resources/js/custom/main.js" th:src="@{/resources/js/custom/main.js}"></script>
    <script rel="script" src="../../../../resources/js/jquery.tabslet.min.js" th:src="@{/resources/js/jquery.tabslet.min.js}"></script>
    <!--<script rel="script" src="../../../resources/js/custom/overview/item.overview.js" th:src="@{/resources/js/custom/overview/item.overview.js}" ></script>-->
    <script>
        $(function(){
            var popup = $('#extraNotes_popup');
            popup.popup({
                opacity: 0.3,
                transition: 'all 0.3s',
                openelement: '.globalEdit',
                closeelement: '.global_close'
            });
            popup.popup('show');
        })
    </script>
</head>
<body>
<div id="extraNotes_popup" class="popup">
    <div class="popup-header"><h3><span th:text="#{label.extraNotes.header}">Extra notes</span></h3></div>
    <div>
        <div class="popup-info">
            <h5 th:text="#{label.extraNotes.headInfo}">Enter some important information about the size, condition or product at all. This information available only for administrators.</h5>
        </div>
       <div class="input-block">
           <textarea spellcheck="false"></textarea>
       </div>
        <div class="buttons">
            <ul class="list-inline">
                <li><button class="update-button button-typical extra_close" th:text="#{label.accept}">Accept</button></li>
                <li><button class="cancel-button button-bordered extra_close" th:text="#{label.cancel}">Cancel</button></li>
            </ul>
        </div>
    </div>
</div>


</body>
</html>